//defaults
$c-white: rgb(255, 255, 255);
$c-black: rgb(0, 0, 0);
$c-hazmat-green: rgb(94, 165, 57);
$c-hazmat-orange: rgb(252, 127, 4);
$c-hazmat-blue: rgb(0, 131, 211);
$c-hazmat-red: rgb(228, 61, 39);
$c-hazmat-purple: rgb(137, 83, 165);
