<section id="1" class="section section__1">
  <h1 data-aos="fade-up" class="section__1--h1">WHO WE ARE</h1>
  {{!-- //small --}}
  <div class="section__1__small">
      <h3 data-aos="fade-up" class="section__1--h3">Hazmat Media</h3>
      <p data-aos="fade-up">...is a woman-owned company that provides unparalleled service to the marketing and
        communications industry. With over 30 years experience, we have the resources to handle critical deadlines and
        detailed projects on time and on-budget. </p>
      <img data-aos="fade-up" class="section__1__img" src="./img/stock_images/2.jpeg" alt="stock photo">
      <h3 data-aos="fade-up" class="section__1--h3">Location</h3>
      <p data-aos="fade-up">Our centrally located facility in Los Angeles has HD/motion detection cameras, 24-hour
        security, key card access, and secured entry. Trusted Partner Network compliant to handle high-security
        content. </p>
      <img data-aos="fade-up" class="section__1__img" src="./img/stock_images/1.jpeg" alt="stock photo">
  </div>
  <div class="section__1__med">
      <h3 data-aos="fade-up" class="section__1--h3">Hazmat Media</h3>
      <p data-aos="fade-up">...is a woman-owned company that provides unparalleled service to the marketing and
        communications industry. With over 30 years experience, we have the resources to handle critical deadlines and
        detailed projects on time and on-budget. </p>
      <img data-aos="fade-up" class="section__1__img" src="./img/stock_images/2.jpeg" alt="stock photo">
      <h3 data-aos="fade-up" class="section__1--h3">Location</h3>
      <p data-aos="fade-up">Our centrally located facility in Los Angeles has HD/motion detection cameras, 24-hour
        security, key card access, and secured entry. Trusted Partner Network compliant to handle high-security
        content. </p>
      <img data-aos="fade-up" class="section__1__img" src="./img/stock_images/1.jpeg" alt="stock photo">
  </div>
  <div class="section__1__mlg">
    <div class="section__1__mlg--col-1">
      <h3 data-aos="fade-up" class="section__1--h3">Hazmat Media</h3>
      <p class="section__1__mlg--col-1--p" data-aos="fade-up">...is a woman-owned company that provides unparalleled
        service to the marketing and communications industry. With over 30 years experience, we have the resources to
        handle critical deadlines and detailed projects on time and on-budget. </p>
      <h3 data-aos="fade-up" class="section__1--h3">Location</h3>
      <p class="section__1__mlg--col-1--p" data-aos="fade-up">Our centrally located facility in Los Angeles has
        HD/motion detection cameras, 24-hour security, key card access, and secured entry. Trusted Partner Network
        compliant to handle high-security content. </p>
    </div>
    <div class="section__1__mlg--col-2">
      <img data-aos="fade-up" src="./img/stock_images/1.jpeg" alt="stock photo">
      <img data-aos="fade-up" src="./img/stock_images/2.jpeg" alt="stock photo">
    </div>
  </div>
  <div class="section__1__lg">
    <div class="section__1__lg--col-1">
      <h3 data-aos="fade-up" class="section__1__lg--h3">Hazmat Media</h3>
      <p class="section__1__lg--col-1--p" data-aos="fade-up">...is a woman-owned company that provides unparalleled
        service to the marketing and communications industry. With over 30 years experience, we have the resources to
        handle critical deadlines and detailed projects on time and on-budget. </p>
      <h3 data-aos="fade-up" class="section__1__lg--h3">Location</h3>
      <p class="section__1__lg--col-1--p" data-aos="fade-up">Our centrally located facility in Los Angeles has
        HD/motion detection cameras, 24-hour security, key card access, and secured entry. Trusted Partner Network
        compliant to handle high-security content. </p>
  </div>
      <div class="section__1__lg--col-2">
        <img data-aos="fade-up" src="./img/stock_images/1.jpeg" alt="stock photo">
        <img data-aos="fade-up" src="./img/stock_images/2.jpeg" alt="stock photo">
      </div>
  
  </div>
  <div class="section__1__landscape">
    <div class="section__1__landscape--col-1">
      <h3 data-aos="fade-up" class="section__1--h3">Hazmat Media</h3>
      <p class="section__1__landscape--col-1--p" data-aos="fade-up">...is a woman-owned company that provides
        unparalleled service to the marketing and communications industry. With over 30 years experience, we have the
        resources to handle critical deadlines and detailed projects on time and on-budget. </p>
      <h3 data-aos="fade-up" class="section__1--h3">Location</h3>
      <p class="section__1__landscape--col-1--p" data-aos="fade-up">Our centrally located facility in Los Angeles has
        HD/motion detection cameras, 24-hour security, key card access, and secured entry. Trusted Partner Network
        compliant to handle high-security content. </p>

    </div>
    <div class="section__1__landscape--col-2">
      <img data-aos="fade-up" src="./img/stock_images/1.jpeg" alt="stock photo">
      <img data-aos="fade-up" src="./img/stock_images/2.jpeg" alt="stock photo">
    </div>
  </div>
</section>