<section id="2" class="section section__2">
    <h1 data-aos="fade-up" class="section__2--h1 ">WHO WE SERVE</h1>
    {{!-- //small --}}
    <div class="section__2__small">
      <h3 data-aos="fade-up" class="section__2--h3">Heading</h3>
      <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
        e-markets. Seamlessly
        transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
        vortals and state of.</p>
      <img data-aos="fade-up" src="./img/stock_images/3.jpeg" alt="">
      <h3 data-aos="fade-up">Heading</h3>
      <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
        e-markets. Seamlessly
        transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
        vortals and state of.</p>
      <h3 data-aos="fade-up">Heading</h3>
      <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
        e-markets. Seamlessly
        transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
        vortals and state of.</p>
    </div>
    <div class="section__2__med">
      <h3 data-aos="fade-up" class="section__2--h3">Heading 425</h3>
      <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
        e-markets. Seamlessly
        transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
        vortals and state of.</p>
      <img data-aos="fade-up" src="./img/stock_images/3.jpeg" alt="">
      <h3 data-aos="fade-up">Heading</h3>
      <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
        e-markets. Seamlessly
        transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
        vortals and state of.</p>
      <h3 data-aos="fade-up">Heading</h3>
      <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
        e-markets. Seamlessly
        transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
        vortals and state of.</p>
    </div>
    <div class="section__2__mlg">
      <div class="section__2__mlg--col-2">
        <div data-aos="fade-up" class="section__2__mlg--col-2--item"></div>
        <div data-aos="fade-up" class="section__2__mlg--col-2--item"></div>
        <div data-aos="fade-up" class="section__2__mlg--col-2--item"></div>
      </div>
      <div class="section__2__mlg--col-1">
        <h3 data-aos="fade-up" class="section__2--h3">Heading 768</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <h3 data-aos="fade-up">Heading</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <h3 data-aos="fade-up">Heading</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <img data-aos="fade-up" src="./img/stock_images/3.jpeg" alt="">
      </div>
    </div>
    <div class="section__2__lg">
      <div class="section__2__lg--col-2">
        <div data-aos="fade-up" class="section__2__lg--col-2--item"></div>
        <div data-aos="fade-up" class="section__2__lg--col-2--item"></div>
        <div data-aos="fade-up" class="section__2__lg--col-2--item"></div>
      </div>
      <div class="section__2__lg--col-1">
        <h3 data-aos="fade-up" class="section__2--h3">Heading 1024</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <h3 data-aos="fade-up">Heading</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <h3 data-aos="fade-up">Heading</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <img data-aos="fade-up" src="./img/stock_images/3.jpeg" alt="">
      </div>
    </div>
    <div class="section__2__landscape">
      <div class="section__2__landscape--col-2">
        <div data-aos="fade-up" class="section__2__landscape--col-2--item"></div>
        <div data-aos="fade-up" class="section__2__landscape--col-2--item"></div>
        <div data-aos="fade-up" class="section__2__landscape--col-2--item"></div>
      </div>
      <div class="section__2__landscape--col-1">
        <h3 data-aos="fade-up" class="section__2--h3">Heading Lanscape</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <h3 data-aos="fade-up">Heading</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <h3 data-aos="fade-up">Heading</h3>
        <p data-aos="fade-up">Dramatically provide access to principle-centered paradigms vis-a-vis interoperable
          e-markets. Seamlessly
          transform best-of-breed niche markets rather than corporate architectures. Uniquely maximize multimedia based
          vortals and state of.</p>
        <img data-aos="fade-up" src="./img/stock_images/3.jpeg" alt="">
      </div>
    </div>
  </section>