<section id="2" class="section section__2">
  <h1 data-aos="fade-up" class="section__2--h1 ">SERVICES</h1>
  {{!-- //small --}}
  <div class="section__2__small">
    <h3 data-aos="fade-up" class="section__2--h3">About Us</h3>
    <p data-aos="fade-up">Hazmat Media provides unparalleled services. We help clients meet their deadlines with
      accuracy, efficiency and full accountability. With over 30 years of experience, we have the resources to handle
      critical deadlines and detailed projects on-time and on-budget. Our in-house specialists treat every project with
      the same high level of service and attention to detail no matter how large or small.</p>
    <img data-aos="fade-up" src="./img/stock_images/toreplaceshakinghands.png" alt="">
    <h3 data-aos="fade-up">Services</h3>
    <p data-aos="fade-up">Whether you’re launching a new product or need to assemble customized influencer packages
      ask how Hazmat can help you maximize the IMPACT of your campaign.
    </p>
    <ul>
      <li data-aos="fade-up">Digital Printing Services</li>
      <li data-aos="fade-up">Product Fulfillment & Distribution</li>
      <li data-aos="fade-up">Gifting, Kitting, Prizing & Promotional Material Fulfillment</li>
      <li data-aos="fade-up">Customized Packaging</li>
      <li data-aos="fade-up">One-Off Requests / Pick & Pack Projects</li>
      <li data-aos="fade-up">Email Distribution</li>
      <li data-aos="fade-up">Asset Management Tracking Software</li>
      <li data-aos="fade-up">24 Hour Security & Climate-controlled Secure Lockup</li>
    </ul>
    <h3 data-aos="fade-up">Awards Season</h3>
    <p data-aos="fade-up">Hazmat Media is an industry leader in Awards screener fulfillment. We securely store,
      fulfill, ship and track over 300,000 individual DVD awards screeners to AMPAS, BAFTA, guild and critics members
      worldwide. In addition, Hazmat distributes script, screening invites, calendars and CD scores throughout Awards
      season. Hazmat Media is Trusted Partner Network (TPN) Compliant in the secure storing, handling, distribution and
      secured destruction of physical and digital assets</p>
  </div>
  <div class="section__2__med">
    <h3 data-aos="fade-up" class="section__2--h3">About Us</h3>
    <p data-aos="fade-up">Hazmat Media provides unparalleled services. We help clients meet their deadlines with
      accuracy, efficiency and full accountability. With over 30 years of experience, we have the resources to handle
      critical deadlines and detailed projects on-time and on-budget. Our in-house specialists treat every project with
      the same high level of service and attention to detail no matter how large or small.</p>
    <img data-aos="fade-up" src="./img/stock_images/toreplaceshakinghands.png" alt="">
    <h3 data-aos="fade-up">Services</h3>
    <p data-aos="fade-up">Whether you’re launching a new product or need to assemble customized influencer packages
      ask how Hazmat can help you maximize the IMPACT of your campaign.
    </p>
    <ul>
      <li data-aos="fade-up">Digital Printing Services</li>
      <li data-aos="fade-up">Product Fulfillment & Distribution</li>
      <li data-aos="fade-up">Gifting, Kitting, Prizing & Promotional Material Fulfillment</li>
      <li data-aos="fade-up">Customized Packaging</li>
      <li data-aos="fade-up">One-Off Requests / Pick & Pack Projects</li>
      <li data-aos="fade-up">Email Distribution</li>
      <li data-aos="fade-up">Asset Management Tracking Software</li>
      <li data-aos="fade-up">Inventory Control</li>
      <li data-aos="fade-up">24 Hour Security & Climate-controlled Secure Lockup</li>
    </ul>
    <h3 data-aos="fade-up">Awards Season</h3>
    <p data-aos="fade-up">Hazmat Media is an industry leader in Awards screener fulfillment. We securely store,
      fulfill, ship and track over 300,000 individual DVD awards screeners to AMPAS, BAFTA, guild and critics members
      worldwide. In addition, Hazmat distributes script, screening invites, calendars and CD scores throughout Awards
      season. Hazmat Media is Trusted Partner Network (TPN) Compliant in the secure storing, handling, distribution and
      secured destruction of physical and digital assets</p>
  </div>
  <div class="section__2__mlg">
    <div class="section__2__mlg--col-1">
      <div  data-aos="fade-up" class="list-item">
      <div  data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Digital Printing Services</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Product Fulfillment & Distribution</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Gifting, Kitting, Prizing & Promotional Material Fulfillment</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">One-Off Requests / Pick & Pack Projects</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Email Distribution</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Asset Management Tracking Software</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">24 Hour Security & Climate-controlled Secure Lockup</p>
      </div>
    </div>
    <div class="section__2__mlg--col-2">
      <h3 data-aos="fade-up" class="section__2--h3">About Us</h3>
      <p data-aos="fade-up">Hazmat Media provides unparalleled services. We help clients meet their deadlines with
        accuracy, efficiency and full accountability. With over 30 years of experience, we have the resources to handle
        critical deadlines and detailed projects on-time and on-budget. Our in-house specialists treat every project
        with
        the same high level of service and attention to detail no matter how large or small.</p>
      <h3 data-aos="fade-up">Services</h3>
      <p data-aos="fade-up">Whether you’re launching a new product or need to assemble customized influencer packages
        ask how Hazmat can help you maximize the IMPACT of your campaign.
      </p>
      <h3 data-aos="fade-up">Awards Season</h3>
      <p data-aos="fade-up">Hazmat Media is an industry leader in Awards screener fulfillment. We securely store,
        fulfill, ship and track over 300,000 individual DVD awards screeners to AMPAS, BAFTA, guild and critics members
        worldwide. In addition, Hazmat distributes script, screening invites, calendars and CD scores throughout Awards
        season. Hazmat Media is Trusted Partner Network (TPN) Compliant in the secure storing, handling, distribution and
        secured destruction of physical and digital assets</p>
      <img data-aos="fade-up" src="./img/stock_images/toreplaceshakinghands.png" alt="">
    </div>
  </div>
  <div class="section__2__lg">
    <div class="section__2__lg--col-1">
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Digital Printing Services</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Product Fulfillment & Distribution</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Gifting, Kitting, Prizing & Promotional Material Fulfillment</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">One-Off Requests / Pick & Pack Projects</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Email Distribution</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Asset Management Tracking Software</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">24 Hour Security & Climate-controlled Secure Lockup</p>
      </div>
    </div>
    <div class="section__2__lg--col-2">
      <h3 data-aos="fade-up" class="section__2--h3">About Us</h3>
      <p data-aos="fade-up">Hazmat Media provides unparalleled services. We help clients meet their deadlines with
        accuracy, efficiency and full accountability. With over 30 years of experience, we have the resources to handle
        critical deadlines and detailed projects on-time and on-budget. Our in-house specialists treat every project
        with
        the same high level of service and attention to detail no matter how large or small.</p>
      <h3 data-aos="fade-up">Services</h3>
      <p data-aos="fade-up">Whether you’re launching a new product or need to assemble customized influencer packages
        ask how Hazmat can help you maximize the IMPACT of your campaign.
      </p>
      <h3 data-aos="fade-up">Awards Season</h3>
      <p data-aos="fade-up">Hazmat Media is an industry leader in Awards screener fulfillment. We securely store,
        fulfill, ship and track over 300,000 individual DVD awards screeners to AMPAS, BAFTA, guild and critics members
        worldwide. In addition, Hazmat distributes script, screening invites, calendars and CD scores throughout Awards
        season. Hazmat Media is Trusted Partner Network (TPN) Compliant in the secure storing, handling, distribution and
        secured destruction of physical and digital assets</p>
      <img data-aos="fade-up" src="./img/stock_images/toreplaceshakinghands.png" alt="">
    </div>
  </div>
  <div class="section__2__landscape">
 <div class="section__2__landscape--col-1">
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Digital Printing Services</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Product Fulfillment & Distribution</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Gifting, Kitting, Prizing & Promotional Material Fulfillment</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">One-Off Requests / Pick & Pack Projects</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Email Distribution</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">Asset Management Tracking Software</p>
      </div>
      <div data-aos="fade-up" class="list-item">
      <div data-aos="fade-up" class="list-item__bubble">
      </div>
        <div data-aos="fade-up" class="list-item__bubble-checkmark">✓</div>
        <p data-aos="fade-up">24 Hour Security & Climate-controlled Secure Lockup</p>
      </div>
    </div>
    <div class="section__2__landscape--col-2">
      <h3 data-aos="fade-up" class="section__2--h3">About Us</h3>
      <p data-aos="fade-up">Hazmat Media provides unparalleled services. We help clients meet their deadlines with
        accuracy, efficiency and full accountability. With over 30 years of experience, we have the resources to handle
        critical deadlines and detailed projects on-time and on-budget. Our in-house specialists treat every project
        with
        the same high level of service and attention to detail no matter how large or small.</p>
      <h3 data-aos="fade-up">Services</h3>
      <p data-aos="fade-up">Whether you’re launching a new product or need to assemble customized influencer packages
        ask how Hazmat can help you maximize the IMPACT of your campaign.
      </p>
      <h3 data-aos="fade-up">Awards Season</h3>
      <p data-aos="fade-up">Hazmat Media is an industry leader in Awards screener fulfillment. We securely store,
        fulfill, ship and track over 300,000 individual DVD awards screeners to AMPAS, BAFTA, guild and critics members
        worldwide. In addition, Hazmat distributes script, screening invites, calendars and CD scores throughout Awards
        season. Hazmat Media is Trusted Partner Network (TPN) Compliant in the secure storing, handling, distribution and
        secured destruction of physical and digital assets</p>
      <img data-aos="fade-up" src="./img/stock_images/toreplaceshakinghands.png" alt="">
    </div>
  </div>
</section>