<section id="3" class="section section__3">
  <h1 data-aos="fade-up" class="section__3--h1">INDUSTRIES</h1>
  {{!-- //small --}}
  <div class="section__3__small">
    <p data-aos="fade-right" class="section__3--bold-text">Entertainment</p>
    <img data-aos="fade-left" src="./img/stock_images/Entertainment.png">
    {{!-- <img class="img-card" src="./img/stock_images/Entertainment.png" alt=""> --}}
    <p data-aos="fade-left" class="section__3--bold-text text-right">Gaming</p>
    <img data-aos="fade-right" src="./img/stock_images/gaming.png">
    <p data-aos="fade-right" class="section__3__small section__3--bold-text">Consumer Products & Electronics</p>
    <img data-aos="fade-left" src="./img/stock_images/electronics.png">
    <p data-aos="fade-left" class="section__3__small section__3--bold-text section__3--bold-text text-right">Health &
      Beauty</p>
    <img data-aos="fade-right" src="./img/stock_images/health.png">
    <p data-aos="fade-right" class="section__3__small section__3--bold-text">PR & Marketing Agencies</p>
    <img data-aos="fade-left" src="./img/stock_images/PR.png">
    <p data-aos="fade-left" class="section__3__small section__3--bold-text text-right">Educational Institutions &
      Government Agencies</p>
    <img data-aos="fade-right" src="./img/stock_images/government.png">
    <p data-aos="fade-right" class="section__3__small section__3--bold-text">Automotive & Travel</p>
    <img data-aos="fade-left" src="./img/stock_images/automotiveandtravel.png">
    <p data-aos="fade-left" class="section__3__small section__3--bold-text text-right">Financial & Advertising Agencies</p>
    <img data-aos="fade-right" src="./img/stock_images/financial.png">
  </div>
  <div class="section__3__med">
    <p data-aos="fade-right" class="section__3--bold-text">Entertainment</p>
    <img data-aos="fade-left" class="card__picture card__picture--1" src="./img/stock_images/Entertainment.png">
    {{!-- <img class="img-card" src="./img/stock_images/Entertainment.png" alt=""> --}}
    <p data-aos="fade-left" class="section__3--bold-text text-right">Gaming</p>
    <img data-aos="fade-right" class="card__picture card__picture--1" src="./img/stock_images/gaming.png">

    <p data-aos="fade-right" class="section__3__med section__3--bold-text">Consumer Products & Electronics</p>
    <img data-aos="fade-left" class="card__picture card__picture--1" src="./img/stock_images/electronics.png">

    <p data-aos="fade-left" class="section__3__med section__3--bold-text section__3--bold-text text-right">Health &
      Beauty</p>
    <img data-aos="fade-right" class="card__picture card__picture--1" src="./img/stock_images/health.png">

    <p data-aos="fade-right" class="section__3__med section__3--bold-text">PR & Marketing Agencies</p>
    <img data-aos="fade-left" class="card__picture card__picture--1" src="./img/stock_images/PR.png">

    <p data-aos="fade-left" class="section__3__med section__3--bold-text text-right">Educational Institutions &
      Government Agencies</p>
    <img data-aos="fade-right" class="card__picture card__picture--1" src="./img/stock_images/government.png">

    <p data-aos="fade-right" class="section__3__med section__3--bold-text">Automotive & Travel</p>
    <img data-aos="fade-left" class="card__picture card__picture--1" src="./img/stock_images/automotiveandtravel.png">

    <p data-aos="fade-left" class="section__3__med section__3--bold-text text-right">Financial & Advertising Agencies</p>
    <img data-aos="fade-right" class="card__picture card__picture--1" src="./img/stock_images/financial.png">

  </div>
  <div class="section__3__mlg">
    <div class="section__3__mlg--col-1">
      <p data-aos="fade-up" class="section__3--bold-text">Entertainment</p>
      <img data-aos="fade-up" src="./img/stock_images/Entertainment.png">
      <p data-aos="fade-up" class="section__3--bold-text">Gaming</p>
      <img data-aos="fade-up" src="./img/stock_images/gaming.png">
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">Consumer Products & Electronics</p>
      <img data-aos="fade-up" src="./img/stock_images/electronics.png">
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">Health &
        Beauty
      </p>
      <img data-aos="fade-up" src="./img/stock_images/health.png">

    </div>
    <div class="section__3__mlg--col-2">
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">PR & Marketing Agencies</p>
      <img data-aos="fade-up" src="./img/stock_images/PR.png">
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">Educational Institutions &
        Government Agencies</p>
      <img data-aos="fade-up" src="./img/stock_images/government.png">
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">Automotive & Travel</p>
      <img data-aos="fade-up" src="./img/stock_images/automotiveandtravel.png">
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">Financial & Advertising Agencies</p>
      <img data-aos="fade-up" src="./img/stock_images/financial.png">
    </div>
  </div>
  <div class="section__3__lg">
    <div class="section__3__lg--col-1">
      <p data-aos="fade-right" class="section__3--bold-text">Entertainment</p>
      <img data-aos="fade-left" src="./img/stock_images/Entertainment.png">

      <p data-aos="fade-left" class="section__3--bold-text">Gaming</p>
      <img data-aos="fade-right" src="./img/stock_images/gaming.png">

      <p data-aos="fade-right" class="section__3__lg section__3--bold-text">Consumer Products & Electronics</p>
      <img data-aos="fade-left" src="./img/stock_images/electronics.png">

      <p data-aos="fade-left" class="section__3--bold-text">Health &
        Beauty
      </p>
      <img data-aos="fade-right" src="./img/stock_images/health.png">

    </div>
    <div class="section__3__lg--col-2">
      <p data-aos="fade-right" class="section__3__lg section__3--bold-text">PR & Marketing Agencies</p>
      <img data-aos="fade-left" src="./img/stock_images/PR.png">
      <p data-aos="fade-left" class="section__3__lg section__3--bold-text">Educational Institutions &
        Government Agencies</p>
      <img data-aos="fade-right" src="./img/stock_images/government.png">
      <p data-aos="fade-right" class="section__3__lg section__3--bold-text">Automotive & Travel</p>
      <img data-aos="fade-left" src="./img/stock_images/automotiveandtravel.png">
      <p data-aos="fade-left" class="section__3__lg section__3--bold-text">Financial & Advertising Agencies</p>
      <img data-aos="fade-right" src="./img/stock_images/financial.png">
    </div>

  </div>
  <div class="section__3__landscape">
    <div class="section__3__landscape--col-1">
      <p data-aos="fade-up" class="section__3--bold-text">Entertainment</p>
      <img class="section__3__landscape--col-2--item" src="./img/stock_images/Entertainment.png">

      <p data-aos="fade-up" class="section__3--bold-text">Gaming</p>
      <img class="section__3__landscape--col-2--item" src="./img/stock_images/gaming.png">

      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text text-center">Consumer Products & Electronics</p>
      <img class="section__3__landscape--col-2--item" src="./img/stock_images/electronics.png">

      <p data-aos="fade-up" class="section__3--bold-text">Health &
        Beauty
      </p>
      <img class="section__3__landscape--col-2--item" src="./img/stock_images/health.png">
    </div>
    <div class="section__3__landscape--col-2">
      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text">PR & Marketing Agencies</p>
      <img class="section__3__landscape--col-2--item" src="./img/stock_images/PR.png">

      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text text-center">Educational Institutions &
        Government Agencies</p>
      <img class="section__3__landscape--col-2--item" src="./img/stock_images/government.png">

      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text">Automotive & Travel</p>
      <img class="section__3__landscape--col-2--item" src="./img/stock_images/automotiveandtravel.png">

      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text text-center">Financial & Advertising
        Agencies</p>
      <img class="section__3__landscape--col-2--item" src="./img/stock_images/financial.png">
    </div>




  </div>
</section>