<section id="3" class="section section__3">
  <h1 data-aos="fade-up" class="section__3--h1">INDUSTRIES</h1>
  {{!-- //small --}}
  <div class="section__3__small">
      <p class="instructions">CLICK IMAGES FOR MORE</p>

    <p data-aos="fade-up" class="section__3--bold-text">Entertainment</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/6.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-left">Breif Description here for entertainment</p>
      </div>
    </div>
    {{!-- <img class="img-card" src="./img/stock_images/6.jpeg" alt=""> --}}
    <p data-aos="fade-up" class="section__3--bold-text text-right">Gaming</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/7.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-right">Breif Description here for Gaming</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__small section__3--bold-text">Consumer Products & Electronics</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/8.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-left">Breif Description here for Consumer Products & Electronics</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__small section__3--bold-text section__3--bold-text text-right">Health &
      Beauty</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/9.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-right">Breif Description here for Health & Beauty</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__small section__3--bold-text">PR & Marketing Agencies</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/10.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-left">Breif Description here for PR & Marketing Agencies</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__small section__3--bold-text text-right">Educational Institutions &
      Government Agencies</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/1.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-right">Breif Description here for Educational Institutions &
      Government Agencies</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__small section__3--bold-text">Automotive & Travel</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/2.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-left">Breif Description here for Automotive & Travel</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__small section__3--bold-text text-right">Financial & Advertising Agencies</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/3.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-right">Breif Description here for Financial & Advertising Agencies</p>
      </div>
    </div>
  </div>
  <div class="section__3__med">
        <p class="instructions">CLICK IMAGES FOR MORE</p>

    <p data-aos="fade-up" class="section__3--bold-text">Entertainment</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/6.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-left">Breif Description here for entertainment</p>
      </div>
    </div>
    {{!-- <img class="img-card" src="./img/stock_images/6.jpeg" alt=""> --}}
    <p data-aos="fade-up" class="section__3--bold-text text-right">Gaming</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/7.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-right">Breif Description here for Gaming</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__med section__3--bold-text">Consumer Products & Electronics</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/8.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-left">Breif Description here for Consumer Products & Electronics</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__med section__3--bold-text section__3--bold-text text-right">Health &
      Beauty</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/9.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-right">Breif Description here for Health & Beauty</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__med section__3--bold-text">PR & Marketing Agencies</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/10.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-left">Breif Description here for PR & Marketing Agencies</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__med section__3--bold-text text-right">Educational Institutions &
      Government Agencies</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/1.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-right">Breif Description here for Educational Institutions &
      Government Agencies</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__med section__3--bold-text">Automotive & Travel</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/2.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-left">Breif Description here for Automotive & Travel</p>
      </div>
    </div>
    <p data-aos="fade-up" class="section__3__med section__3--bold-text text-right">Financial & Advertising Agencies</p>
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <img class="card__picture card__picture--1" src="./img/stock_images/3.jpeg">
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <p data-aos="fade-up" class="text-right">Breif Description here for Financial & Advertising Agencies</p>
      </div>
    </div>
  </div>
  <div class="section__3__mlg">
    <div class="section__3__mlg--col-1">
      <h3>Heading 768</h3>
      <p data-aos="fade-up" class="section__3--bold-text">Entertainment</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3--bold-text text-right">Gaming</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">Consumer Products & Electronics</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text section__3--bold-text text-right">Health &
        Beauty
      </p>
      <p data-aos="fade-up" class="section__3__mlg section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">PR & Marketing Agencies</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text text-right">Educational Institutions &
        Government Agencies</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text">Automotive & Travel</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--bold-text text-right">Financial & Advertising Agencies</p>
      <p data-aos="fade-up" class="section__3__mlg section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
    </div>
    <div class="section__3__mlg--col-2">
      <div data-aos="fade-up" class="section__3__mlg--col-2--item"></div>
      <div data-aos="fade-up" class="section__3__mlg--col-2--item"></div>
      <div data-aos="fade-up" class="section__3__mlg--col-2--item"></div>
      <div data-aos="fade-up" class="section__3__mlg--col-2--item"></div>
      <div data-aos="fade-up" class="section__3__mlg--col-2--item"></div>
    </div>
  </div>
  <div class="section__3__lg">
    <div class="section__3__lg--col-1">
      <h3>Heading 1024</h3>
      <p data-aos="fade-up" class="section__3--bold-text">Entertainment</p>
      <p data-aos="fade-up" class="section__3__lg section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3--bold-text text-right">Gaming</p>
      <p data-aos="fade-up" class="section__3__lg section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__lg section__3--bold-text">Consumer Products & Electronics</p>
      <p data-aos="fade-up" class="section__3__lg section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__lg section__3--bold-text section__3--bold-text text-right">Health &
        Beauty
      </p>
      <p data-aos="fade-up" class="section__3__lg section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__lg section__3--bold-text">PR & Marketing Agencies</p>
      <p data-aos="fade-up" class="section__3__lg section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__lg section__3--bold-text text-right">Educational Institutions &
        Government Agencies</p>
      <p data-aos="fade-up" class="section__3__lg section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__lg section__3--bold-text">Automotive & Travel</p>
      <p data-aos="fade-up" class="section__3__lg section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__lg section__3--bold-text text-right">Financial & Advertising Agencies</p>
      <p data-aos="fade-up" class="section__3__lg section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
    </div>
    <div class="section__3__lg--col-2">
      <div data-aos="fade-up" class="section__3__lg--col-2--item"></div>
      <div data-aos="fade-up" class="section__3__lg--col-2--item"></div>
      <div data-aos="fade-up" class="section__3__lg--col-2--item"></div>
      <div data-aos="fade-up" class="section__3__lg--col-2--item"></div>
      <div data-aos="fade-up" class="section__3__lg--col-2--item"></div>
    </div>

  </div>
  <div class="section__3__landscape">
    <div class="section__3__landscape--col-1">
      <h3 data-aos="fade-up" class="section__3--h3">Heading Landscape</h3>
      <p data-aos="fade-up" class="section__3--bold-text">Entertainment</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3--bold-text text-right">Gaming</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text">Consumer Products & Electronics</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text section__3--bold-text text-right">Health
        & Beauty
      </p>
      <p data-aos="fade-up" class="section__3__landscape section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text">PR & Marketing Agencies</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text text-right">Educational Institutions &
        Government Agencies
      </p>
      <p data-aos="fade-up" class="section__3__landscape section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text">Automotive & Travel</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--text">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p data-aos="fade-up" class="section__3__landscape section__3--bold-text text-right">Financial & Advertising
        Agencies
      </p>
      <p data-aos="fade-up" class="section__3__landscape section__3--text text-right">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu
        augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
    </div>
  </div>
</section>