 <section id="4" class="section section__4">
    <h1 data-aos="fade-up" class="section__4--h1">SERVICE LOUNGE</h1>
    {{!-- //small --}}
    <div class="section__4__small">
      <div data-aos="fade-up" class="section__4__small--col-1">
        <h3 data-aos="fade-up">Frequently Asked Questions</h3>
        <h3 data-aos="fade-up" class="section__4--h3">Question 1?</h3>
        <p data-aos="fade-up">Competently re-engineer granular web-readiness and next-generation "outside the box"
          thinking. Seamlessly
          network flexible.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Question 2?</h3>
        <p data-aos="fade-up">Credibly pursue competitive systems before customized web-readiness. Authoritatively
          brand impactful process
          improvements after turnkey total linkage. Professionally procrastinate high standards in leadership skills
          via B2B intellectual capital.</p>
        <img data-aos="fade-up" src="./img/stock_images/4.jpeg" alt="">
      </div>
      <div class="section__4__small--col-2">
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Objectively generate high-quality materials without prospective.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Enthusiastically supply end-to-end niche markets and mission-critical data.
          Energistically administrate.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Assertively pursue parallel intellectual capital and world-class strategic theme areas.
          Uniquely benchmark
          professional outsourcing and B2C technology. Proactively seize standards compliant ROI and dynamic platforms.
          Seamlessly re-engineer client-focused e-commerce and user friendly e-commerce. Appropriately grow global
          bandwidth via proactive channels.
          Intrinsicly maximize customer directed relationships before customized supply chains. Authoritatively.</p>
      </div>
    </div>
    <div class="section__4__med">
      <div data-aos="fade-up" class="section__4__med--col-1">
        <h3 data-aos="fade-up">Heading 425</h3>
        <h3 data-aos="fade-up">Frequently Asked Questions</h3>
        <h3 data-aos="fade-up" class="section__4--h3">Question 1?</h3>
        <p data-aos="fade-up">Competently re-engineer granular web-readiness and next-generation "outside the box"
          thinking. Seamlessly
          network flexible.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Question 2?</h3>
        <p data-aos="fade-up">Credibly pursue competitive systems before customized web-readiness. Authoritatively
          brand impactful process
          improvements after turnkey total linkage. Professionally procrastinate high standards in leadership skills
          via B2B intellectual capital.</p>
        <img data-aos="fade-up" src="./img/stock_images/4.jpeg" alt="">
      </div>
      <div class="section__4__med--col-2">
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Objectively generate high-quality materials without prospective.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Enthusiastically supply end-to-end niche markets and mission-critical data.
          Energistically administrate.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Assertively pursue parallel intellectual capital and world-class strategic theme areas.
          Uniquely benchmark
          professional outsourcing and B2C technology. Proactively seize standards compliant ROI and dynamic platforms.
          Seamlessly re-engineer client-focused e-commerce and user friendly e-commerce. Appropriately grow global
          bandwidth via proactive channels.
          Intrinsicly maximize customer directed relationships before customized supply chains. Authoritatively.</p>
      </div>
    </div>
    <div class="section__4__mlg">
      <div data-aos="fade-up" class="section__4__mlg--col-1">
        <h3 data-aos="fade-up">Heading 768</h3>
        <h3 data-aos="fade-up">Frequently Asked Questions</h3>
        <h3 data-aos="fade-up" class="section__4--h3">Question 1?</h3>
        <p data-aos="fade-up">Competently re-engineer granular web-readiness and next-generation "outside the box"
          thinking. Seamlessly
          network flexible.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Question 2?</h3>
        <p data-aos="fade-up">Credibly pursue competitive systems before customized web-readiness. Authoritatively
          brand impactful process
          improvements after turnkey total linkage. Professionally procrastinate high standards in leadership skills
          via B2B intellectual capital.</p>
        <img data-aos="fade-up" src="./img/stock_images/4.jpeg" alt="">
      </div>
      <div class="section__4__mlg--col-2">
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Objectively generate high-quality materials without prospective.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Enthusiastically supply end-to-end niche markets and mission-critical data.
          Energistically administrate.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Assertively pursue parallel intellectual capital and world-class strategic theme areas.
          Uniquely benchmark
          professional outsourcing and B2C technology. Proactively seize standards compliant ROI and dynamic platforms.
          Seamlessly re-engineer client-focused e-commerce and user friendly e-commerce. Appropriately grow global
          bandwidth via proactive channels.
          Intrinsicly maximize customer directed relationships before customized supply chains. Authoritatively.</p>
      </div>
    </div>
    <div class="section__4__lg">
      <div data-aos="fade-up" class="section__4__lg--col-1">
        <h3 data-aos="fade-up">Heading 1024</h3>
        <h3 data-aos="fade-up">Frequently Asked Questions</h3>
        <h3 data-aos="fade-up" class="section__4--h3">Question 1?</h3>
        <p data-aos="fade-up">Competently re-engineer granular web-readiness and next-generation "outside the box"
          thinking. Seamlessly
          network flexible.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Question 2?</h3>
        <p data-aos="fade-up">Credibly pursue competitive systems before customized web-readiness. Authoritatively
          brand impactful process
          improvements after turnkey total linkage. Professionally procrastinate high standards in leadership skills
          via B2B intellectual capital.</p>
        <img data-aos="fade-up" src="./img/stock_images/4.jpeg" alt="">
      </div>
      <div class="section__4__lg--col-2">
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Objectively generate high-quality materials without prospective.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Enthusiastically supply end-to-end niche markets and mission-critical data.
          Energistically administrate.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Assertively pursue parallel intellectual capital and world-class strategic theme areas.
          Uniquely benchmark
          professional outsourcing and B2C technology. Proactively seize standards compliant ROI and dynamic platforms.
          Seamlessly re-engineer client-focused e-commerce and user friendly e-commerce. Appropriately grow global
          bandwidth via proactive channels.
          Intrinsicly maximize customer directed relationships before customized supply chains. Authoritatively.</p>
      </div>
    </div>
    <div class="section__4__landscape">
      <div data-aos="fade-up" class="section__4__landscape--col-1">
        <h3 data-aos="fade-up" class="section__4--h3">Heading Landscape</h3>
        <h3 data-aos="fade-up">Frequently Asked Questions</h3>
        <h3 data-aos="fade-up" class="section__4--h3">Question 1?</h3>
        <p data-aos="fade-up">Competently re-engineer granular web-readiness and next-generation "outside the box"
          thinking. Seamlessly
          network flexible.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Question 2?</h3>
        <p data-aos="fade-up">Credibly pursue competitive systems before customized web-readiness. Authoritatively
          brand impactful process
          improvements after turnkey total linkage. Professionally procrastinate high standards in leadership skills
          via B2B intellectual capital.</p>
        <img data-aos="fade-up" src="./img/stock_images/4.jpeg" alt="">
      </div>
      <div class="section__4__landscape--col-2">
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Objectively generate high-quality materials without prospective.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Enthusiastically supply end-to-end niche markets and mission-critical data.
          Energistically administrate.</p>
        <h3 data-aos="fade-up" class="section__4--h3">Heading</h3>
        <p data-aos="fade-up">Assertively pursue parallel intellectual capital and world-class strategic theme areas.
          Uniquely benchmark
          professional outsourcing and B2C technology. Proactively seize standards compliant ROI and dynamic platforms.
          Seamlessly re-engineer client-focused e-commerce and user friendly e-commerce. Appropriately grow global
          bandwidth via proactive channels.
          Intrinsicly maximize customer directed relationships before customized supply chains. Authoritatively.</p>
      </div>
    </div>
  </section>