<section id="4" class="section section__4">
  <h1 data-aos="fade-up" class="section__4--h1">CLIENTS</h1>
  {{!-- //small --}}
  <div class="section__4__small">
    <img class="logo logo__wb logo__wb--small" data-aos="fade-right" src="./img/logos/wb.png" alt="Warner Bothers Logo">
    <img class="logo logo__nick logo__nick--small" data-aos="fade-left" src="./img/logos/nick.png" alt="Nickelodeon Logo">
    <img class="logo logo__a24 logo__a24--small" data-aos="fade-right" src="./img/logos/a24.png" alt="a24 Logo">
    <img class="logo logo__ubisoft logo__ubisoft--small" data-aos="fade-left" src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
    <img class="logo logo__finn logo__finn--small" data-aos="fade-right" src="./img/logos/FINN.png" alt="FINN Logo">
    <img class="logo logo__ifc logo__ifc--small" data-aos="fade-left" src="./img/logos/IFC.png" alt="IFC Logo">
    <img class="logo logo__natgeo logo__natgeo--small" data-aos="fade-right" src="./img/logos/natgeo.png" alt="National Geographic Logo">
    <img class="logo logo__playstation logo__playstation--small" data-aos="fade-left" src="./img/logos/playstation.png"
      alt="Sony Playstation Logo">
    <img class="logo logo__hulu logo__hulu--small" data-aos="fade-right" src="./img/logos/hulu.png" alt="Hulu Logo">
    <img class="logo logo__amazon logo__amazon--small" data-aos="fade-left" src="./img/logos/amazon.png" alt="Amazon Logo">
    <img class="logo logo__capcom logo__capcom--small" data-aos="fade-right" src="./img/logos/capcom.png" alt="Capcom Logo">
    <img class="logo logo__lightyears logo__lightyears--small" data-aos="fade-left" src="./img/logos/lightyears.png" alt="Light Years Logo">
    <img class="logo logo__magnolia logo__magnolia--small" data-aos="fade-right" src="./img/logos/magnolia.png" alt="Magnolia Logo">
    <img class="logo logo__oscope logo__oscope--small" data-aos="fade-left" src="./img/logos/oscope.png" alt="Oscope Logo">
    <img class="logo logo__participant logo__participant--small" data-aos="fade-right" src="./img/logos/participant_media.png"
      alt="Participant Media Logo">
    <img class="logo logo__roadside logo__roadside--small" data-aos="fade-left" src="./img/logos/roadside.png"
      alt="Roadside Productions Logo">
    <img class="logo logo__rogersandcowan logo__rogersandcowan--small" data-aos="fade-right" src="./img/logos/rogersandcowan.png"
      alt="Rogers and Cowan Logo">
    <img class="logo logo__spr logo__spr--small" data-aos="fade-left" src="./img/logos/spr.png" alt="SPR Logo">
    <img class="logo logo__tpn logo__tpn--small" data-aos="fade-right" src="./img/logos/tpn.png" alt="TPN Logo">
  </div>
  <div class="section__4__med">
    <img class="logo logo__wb logo__wb--med" data-aos="fade-right" src="./img/logos/wb.png" alt="Warner Bothers Logo">
    <img class="logo logo__nick logo__nick--med" data-aos="fade-left" src="./img/logos/nick.png" alt="Nickelodeon Logo">
    <img class="logo logo__a24 logo__a24--med" data-aos="fade-right" src="./img/logos/a24.png" alt="a24 Logo">
    <img class="logo logo__ubisoft logo__ubisoft--med" data-aos="fade-left" src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
    <img class="logo logo__finn logo__finn--med" data-aos="fade-right" src="./img/logos/FINN.png" alt="FINN Logo">
    <img class="logo logo__ifc logo__ifc--med" data-aos="fade-left" src="./img/logos/IFC.png" alt="IFC Logo">
    <img class="logo logo__natgeo logo__natgeo--med" data-aos="fade-right" src="./img/logos/natgeo.png" alt="National Geographic Logo">
    <img class="logo logo__playstation logo__playstation--med" data-aos="fade-left" src="./img/logos/playstation.png" alt="Sony Playstation Logo">
    <img class="logo logo__hulu logo__hulu--med" data-aos="fade-right" src="./img/logos/hulu.png" alt="Hulu Logo">
    <img class="logo logo__amazon logo__amazon--med" data-aos="fade-left" src="./img/logos/amazon.png" alt="Amazon Logo">
    <img class="logo logo__capcom logo__capcom--med" data-aos="fade-right" src="./img/logos/capcom.png" alt="Capcom Logo">
    <img class="logo logo__lightyears logo__lightyears--med" data-aos="fade-left" src="./img/logos/lightyears.png" alt="Light Years Logo">
    <img class="logo logo__magnolia logo__magnolia--med" data-aos="fade-right" src="./img/logos/magnolia.png" alt="Magnolia Logo">
    <img class="logo logo__oscope logo__oscope--med" data-aos="fade-left" src="./img/logos/oscope.png" alt="Oscope Logo">
    <img class="logo logo__participant logo__participant--med" data-aos="fade-right" src="./img/logos/participant_media.png" alt="Participant Media Logo">
    <img class="logo logo__roadside logo__roadside--med" data-aos="fade-left" src="./img/logos/roadside.png" alt="Roadside Productions Logo">
    <img class="logo logo__rogersandcowan logo__rogersandcowan--med" data-aos="fade-right" src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
    <img class="logo logo__spr logo__spr--med" data-aos="fade-left" src="./img/logos/spr.png" alt="SPR Logo">
    <img class="logo logo__tpn logo__tpn--med" data-aos="fade-right" src="./img/logos/tpn.png" alt="TPN Logo">
  </div>
  <div class="section__4__mlg">
    <div class="section__4__mlg--col-1">
      <img class="logo logo_wb logo_wb--mlg" data-aos="fade-right" src="./img/logos/wb.png" alt="Warner Bothers Logo">
      <img class="logo logo__a24 logo__a24--mlg" data-aos="fade-right" src="./img/logos/a24.png" alt="a24 Logo">
      <img class="logo logo__finn logo__finn--mlg" data-aos="fade-right" src="./img/logos/FINN.png" alt="FINN Logo">
      <img class="logo logo__natgeo logo__natgeo--mlg" data-aos="fade-right" src="./img/logos/natgeo.png" alt="National Geographic Logo">
      <img class="logo logo__hulu logo__hulu--mlg" data-aos="fade-right" src="./img/logos/hulu.png" alt="Hulu Logo">
      <img class="logo logo__capcom logo__capcom--mlg" data-aos="fade-right" src="./img/logos/capcom.png" alt="Capcom Logo">
      <img class="logo logo__magnolia logo__magnolia--mlg" data-aos="fade-right" src="./img/logos/magnolia.png" alt="Magnolia Logo">
      <img class="logo logo__participant logo__participant--mlg" data-aos="fade-right" src="./img/logos/participant_media.png" alt="Participant Media Logo">
      <img class="logo logo__rogersandcowan logo__rogersandcowan--mlg" data-aos="fade-right" src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
      <img class="logo logo__tpn logo__tpn--mlg" data-aos="fade-right" src="./img/logos/tpn.png" alt="TPN Logo">

    </div>
    <div class="section__4__mlg--col-2">
      <img class="logo logo__nick logo__nick--mlg" data-aos="fade-left" src="./img/logos/nick.png" alt="Nickelodeon Logo">
      <img class="logo logo__ubisoft logo__ubisoft--mlg" data-aos="fade-left" src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
      <img class="logo logo__ifc logo__ifc--mlg" data-aos="fade-left" src="./img/logos/IFC.png" alt="IFC Logo">
      <img class="logo logo__playstation logo__playstation--mlg" data-aos="fade-left" src="./img/logos/playstation.png" alt="Sony Playstation Logo">
      <img class="logo logo__amazon logo__amazon--mlg" data-aos="fade-left" src="./img/logos/amazon.png" alt="Amazon Logo">
      <img class="logo logo__lightyears logo__lightyears--mlg" data-aos="fade-left" src="./img/logos/lightyears.png" alt="Light Years Logo">
      <img class="logo logo__oscope logo__oscope--mlg" data-aos="fade-left" src="./img/logos/oscope.png" alt="Oscope Logo">
      <img class="logo logo__roadside logo__roadside--mlg" data-aos="fade-left" src="./img/logos/roadside.png" alt="Roadside Productions Logo">
      <img class="logo logo__spr logo__spr--mlg" data-aos="fade-left" src="./img/logos/spr.png" alt="SPR Logo">
    </div>
  </div>
  <div class="section__4__lg">
    <div class="section__4__lg--col-1">
      <img class="logo logo__wb logo__wb--lg" data-aos="fade-right" src="./img/logos/wb.png" alt="Warner Bothers Logo">
      <img class="logo logo__a24 logo__a24--lg" data-aos="fade-right" src="./img/logos/a24.png" alt="a24 Logo">
      <img class="logo logo__finn logo__finn--lg" data-aos="fade-right" src="./img/logos/FINN.png" alt="FINN Logo">
      <img class="logo logo__natgeo logo__natgeo--lg" data-aos="fade-right" src="./img/logos/natgeo.png" alt="National Geographic Logo">
      <img class="logo logo__hulu logo__hulu--lg" data-aos="fade-right" src="./img/logos/hulu.png" alt="Hulu Logo">
      <img class="logo logo__capcom logo__capcom--lg" data-aos="fade-right" src="./img/logos/capcom.png" alt="Capcom Logo">
      <img class="logo logo__magnolia logo__magnolia--lg" data-aos="fade-right" src="./img/logos/magnolia.png" alt="Magnolia Logo">
      <img class="logo logo__participant logo__participant--lg" data-aos="fade-right" src="./img/logos/participant_media.png" alt="Participant Media Logo">
      <img class="logo logo__rogersandcowan logo__rogersandcowan--lg" data-aos="fade-right" src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
      <img class="logo logo__tpn logo__tpn--lg" data-aos="fade-right" src="./img/logos/tpn.png" alt="TPN Logo">

    </div>
    <div class="section__4__lg--col-2">
      <img class="logo logo__nick logo__nick--lg" data-aos="fade-left" src="./img/logos/nick.png" alt="Nickelodeon Logo">
      <img class="logo logo__ubisoft logo__ubisoft--lg" data-aos="fade-left" src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
      <img class="logo logo__ifc logo__ifc--lg" data-aos="fade-left" src="./img/logos/IFC.png" alt="IFC Logo">
      <img class="logo logo__playstation logo__playstation--lg" data-aos="fade-left" src="./img/logos/playstation.png" alt="Sony Playstation Logo">
      <img class="logo logo__amazon logo__amazon--lg" data-aos="fade-left" src="./img/logos/amazon.png" alt="Amazon Logo">
      <img class="logo logo__lightyears logo__lightyears--lg" data-aos="fade-left" src="./img/logos/lightyears.png" alt="Light Years Logo">
      <img class="logo logo__oscope logo__oscope--lg" data-aos="fade-left" src="./img/logos/oscope.png" alt="Oscope Logo">
      <img class="logo logo__roadside logo__roadside--lg" data-aos="fade-left" src="./img/logos/roadside.png" alt="Roadside Productions Logo">
      <img class="logo logo__spr logo__spr--lg" data-aos="fade-left" src="./img/logos/spr.png" alt="SPR Logo">
    </div>
  </div>
  <div class="section__4__landscape">
    <div class="section__4__landscape--col-1">
      <img class="logo logo__participant logo__participant--landscape" data-aos="fade-up" src="./img/logos/participant_media.png" alt="Participant Media Logo">
      <img class="logo logo__playstation logo__playstation--landscape" data-aos="fade-up" src="./img/logos/playstation.png" alt="Sony Playstation Logo">
      <img class="logo logo__a24 logo__a24--landscape" data-aos="fade-up" src="./img/logos/a24.png" alt="a24 Logo">
      <img class="logo logo__amazon logo__amazon--landscape" data-aos="fade-up" src="./img/logos/amazon.png" alt="Amazon Logo">
      <img class="logo logo__capcom logo__capcom--landscape" data-aos="fade-up" src="./img/logos/capcom.png" alt="Capcom Logo">
      <img class="logo logo__hulu logo__hulu--landscape" data-aos="fade-up" src="./img/logos/hulu.png" alt="Hulu Logo">
      <img class="logo logo__lightyears logo__lightyears--landscape" data-aos="fade-up" src="./img/logos/lightyears.png" alt="Light Years Logo">
      <img class="logo logo__magnolia logo__magnolia--landscape" data-aos="fade-up" src="./img/logos/magnolia.png" alt="Magnolia Logo">
      <img class="logo logo__natgeo logo__natgeo--landscape" data-aos="fade-up" src="./img/logos/natgeo.png" alt="National Geographic Logo">
      <img class="logo logo__oscope logo__oscope--landscape" data-aos="fade-up" src="./img/logos/oscope.png" alt="Oscope Logo">
      <img class="logo logo__nick logo__nick--landscape" data-aos="fade-up" src="./img/logos/nick.png" alt="Nickelodeon Logo">

    </div>
    <div class="section__4__landscape--col-2">
      <img class="logo logo__roadside logo__roadside--landscape" data-aos="fade-up" src="./img/logos/roadside.png" alt="Roadside Productions Logo">
      <img class="logo logo__rogersandcowan logo__rogersandcowan--landscape" data-aos="fade-up" src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
      <img class="logo logo__spr logo__spr--landscape" data-aos="fade-up" src="./img/logos/spr.png" alt="SPR Logo">
      <img class="logo logo__tpn logo__tpn--landscape" data-aos="fade-up" src="./img/logos/tpn.png" alt="TPN Logo">
      <img class="logo logo__ubisoft logo__ubisoft--landscape" data-aos="fade-up" src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
      <img class="logo logo__wb logo__wb--landscape" data-aos="fade-up" src="./img/logos/wb.png" alt="Warner Bothers Logo">
    </div>
  </div>
</section>