 <section id="4" class="section section__4">
    <h1 data-aos="fade-up" class="section__4--h1">CLIENTS</h1>
    {{!-- //small --}}
    <div class="section__4__small">
  
    </div>
    <div class="section__4__med">
      
    </div>
    <div class="section__4__mlg">
      
    </div>
    <div class="section__4__lg">
      
    </div>
    <div class="section__4__landscape">
      
    </div>
  </section>