 <section id="4" class="section section__4">
    <h1 data-aos="fade-up" class="section__4--h1">CLIENTS</h1>
    {{!-- //small --}}
    <div class="section__4__small">
      <img src="./img/logos/a24.png" alt="a24 Logo">
      <img src="./img/logos/amazon.png" alt="Amazon Logo">
      <img src="./img/logos/capcom.png" alt="Capcom Logo">
      <img src="./img/logos/hulu.png" alt="Hulu Logo">
      <img src="./img/logos/lightyears.png" alt="Light Years Logo">
      <img src="./img/logos/magnolia.png" alt="Magnolia Logo">
      <img src="./img/logos/natgeo.png" alt="National Geographic Logo">
      <img src="./img/logos/oscope.png" alt="Oscope Logo">
      <img src="./img/logos/participant_media.png" alt="Participant Media Logo">
      <img src="./img/logos/playstation.png" alt="Sony Playstation Logo">
      <img src="./img/logos/roadside.png" alt="Roadside Productions Logo">
      <img src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
      <img src="./img/logos/spr.png" alt="SPR Logo">
      <img src="./img/logos/tpn.png" alt="TPN Logo">
      <img src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
      <img src="./img/logos/wb.png" alt="Warner Bothers Logo">
        <img src="./img/logos/nick.png" alt="Nickelodeon Logo">
    </div>
    <div class="section__4__med">
      <img src="./img/logos/a24.png" alt="a24 Logo">
      <img src="./img/logos/amazon.png" alt="Amazon Logo">
      <img src="./img/logos/capcom.png" alt="Capcom Logo">
      <img src="./img/logos/hulu.png" alt="Hulu Logo">
      <img src="./img/logos/lightyears.png" alt="Light Years Logo">
      <img src="./img/logos/magnolia.png" alt="Magnolia Logo">
      <img src="./img/logos/natgeo.png" alt="National Geographic Logo">
      <img src="./img/logos/oscope.png" alt="Oscope Logo">
      <img src="./img/logos/participant_media.png" alt="Participant Media Logo">
      <img src="./img/logos/playstation.png" alt="Sony Playstation Logo">
      <img src="./img/logos/roadside.png" alt="Roadside Productions Logo">
      <img src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
      <img src="./img/logos/spr.png" alt="SPR Logo">
      <img src="./img/logos/tpn.png" alt="TPN Logo">
      <img src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
      <img src="./img/logos/wb.png" alt="Warner Bothers Logo">
        <img src="./img/logos/nick.png" alt="Nickelodeon Logo">
    </div>
    <div class="section__4__mlg">
      <div class="section__4__mlg--col-1">
     <img src="./img/logos/participant_media.png" alt="Participant Media Logo">
        <img src="./img/logos/playstation.png" alt="Sony Playstation Logo">
        <img src="./img/logos/a24.png" alt="a24 Logo">
        <img src="./img/logos/amazon.png" alt="Amazon Logo">
        <img src="./img/logos/capcom.png" alt="Capcom Logo">
        <img src="./img/logos/hulu.png" alt="Hulu Logo">
        <img src="./img/logos/lightyears.png" alt="Light Years Logo">
        <img src="./img/logos/magnolia.png" alt="Magnolia Logo">
        <img src="./img/logos/natgeo.png" alt="National Geographic Logo">
        <img src="./img/logos/oscope.png" alt="Oscope Logo">
            <img src="./img/logos/nick.png" alt="Nickelodeon Logo">

      </div>
      <div class="section__4__mlg--col-2">
       
        <img src="./img/logos/roadside.png" alt="Roadside Productions Logo">
        <img src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
        <img src="./img/logos/spr.png" alt="SPR Logo">
        <img src="./img/logos/tpn.png" alt="TPN Logo">
        <img src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
        <img src="./img/logos/wb.png" alt="Warner Bothers Logo">
      </div>
    </div>
    <div class="section__4__lg">
          <div class="section__4__lg--col-1">
     <img src="./img/logos/participant_media.png" alt="Participant Media Logo">
        <img src="./img/logos/playstation.png" alt="Sony Playstation Logo">
        <img src="./img/logos/a24.png" alt="a24 Logo">
        <img src="./img/logos/amazon.png" alt="Amazon Logo">
        <img src="./img/logos/capcom.png" alt="Capcom Logo">
        <img src="./img/logos/hulu.png" alt="Hulu Logo">
        <img src="./img/logos/lightyears.png" alt="Light Years Logo">
        <img src="./img/logos/magnolia.png" alt="Magnolia Logo">
        <img src="./img/logos/natgeo.png" alt="National Geographic Logo">
        <img src="./img/logos/oscope.png" alt="Oscope Logo">
            <img src="./img/logos/nick.png" alt="Nickelodeon Logo">

      </div>
      <div class="section__4__lg--col-2">
       
        <img src="./img/logos/roadside.png" alt="Roadside Productions Logo">
        <img src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
        <img src="./img/logos/spr.png" alt="SPR Logo">
        <img src="./img/logos/tpn.png" alt="TPN Logo">
        <img src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
        <img src="./img/logos/wb.png" alt="Warner Bothers Logo">
      </div>
    </div>
    <div class="section__4__landscape">
      <img src="./img/logos/a24.png" alt="a24 Logo">
      <img src="./img/logos/amazon.png" alt="Amazon Logo">
      <img src="./img/logos/capcom.png" alt="Capcom Logo">
      <img src="./img/logos/hulu.png" alt="Hulu Logo">
      <img src="./img/logos/lightyears.png" alt="Light Years Logo">
      <img src="./img/logos/magnolia.png" alt="Magnolia Logo">
      <img src="./img/logos/natgeo.png" alt="National Geographic Logo">
      <img src="./img/logos/oscope.png" alt="Oscope Logo">
      <img src="./img/logos/participant_media.png" alt="Participant Media Logo">
      <img src="./img/logos/playstation.png" alt="Sony Playstation Logo">
      <img src="./img/logos/roadside.png" alt="Roadside Productions Logo">
      <img src="./img/logos/rogersandcowan.png" alt="Rogers and Cowan Logo">
      <img src="./img/logos/spr.png" alt="SPR Logo">
      <img src="./img/logos/tpn.png" alt="TPN Logo">
      <img src="./img/logos/ubisoft.png" alt="Ubisoft Logo">
      <img src="./img/logos/wb.png" alt="Warner Bothers Logo">
            <img src="./img/logos/nick.png" alt="Nickelodeon Logo">

    </div>
  </section>