<section id="5" class="section section__5">
  <h1 data-aos="fade-up" class="section__5--h1">CONTACT US</h1>
  {{!-- //small --}}
  <p data-aos="fade-up">We would love to hear from you! Please send us an E-mail.</p>
  <div class="contact-block">
      <p>310-659-2062</p>
      <p>Hazmat@HazmatMedia.com</p>
      <p>120 N. Robertson Blvd. Plaza M, </p>
      <p>Los Angeles, CA 90048</p>
  </div>
  <div class="section__5">
    <form data-aos="fade-up" action="mailto:hazmat@hazmatmedia.com" method="post" enctype="text/plain">
      Name:<br>
      <input type="text" name="name"><br>
      E-mail:<br>
      <input type="text" name="mail"><br>
      Comment:<br>
      <input type="text" name="comment" size="50"><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
    </form>
  </div>
        <p style="font-size: .75rem">Copyright Hazmat Media 2018</p>

</section>