 <section id="5" class="section section__5">
    <h1 data-aos="fade-up" class="section__5--h1">CONTACT US</h1>
    {{!-- //small --}}
    <div class="section__5__small">
    
    </div>
    <div class="section__5__med">

    </div>
    <div class="section__5__mlg">
     
    </div>
    <div class="section__5__lg">
      
    </div>
    <div class="section__5__landscape">
     
    </div>
  </section>