 <section id="5" class="section section__5">
    <h1 data-aos="fade-up" class="section__5--h1">CONTACT US</h1>
    {{!-- //small --}}
    <p>We would love to hear from you! Please send us an E-mail</p>
    <div class="section__5__small">
    <form action="mailto:hazmat@hazmatmedia.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
    </div>
    <div class="section__5__med">

    </div>
    <div class="section__5__mlg">
     
    </div>
    <div class="section__5__lg">
      
    </div>
    <div class="section__5__landscape">
     
    </div>
  </section>