 <section class="insert insert__footer">
    <h3 class="insert__footer--h3">Contact Us</h3>
    <div class="insert__footer--text">
      <p>310-659-2062</p>
      <p>Hazmat@HazmatMedia.com</p>
      <p>120 N. Robertson Blvd. Plaza M, </p>
      <p>Los Angeles, CA 90048</p>
    </div>
  </section>