 <section class="section__footer section__footer__small">
    <p>Copyright Hazmat Media 2018</p>
      <p>310-659-2062</p>
      <p>Hazmat@HazmatMedia.com</p>
      <p>120 N. Robertson Blvd. Plaza M, </p>
      <p>Los Angeles, CA 90048</p>
  </section>
 <section class="section__footer section__footer__large">
    <p>Copyright Hazmat Media 2018</p>
      <p>310-659-2062</p>
      <p>Hazmat@HazmatMedia.com</p>
      <p>120 N. Robertson Blvd. Plaza M, </p>
      <p>Los Angeles, CA 90048</p>
  </section>