<header>
<h1>hazmat media</h1>

</header>
<section class="section section__1">
<h2>heading 2</h2>
</section>
<section class="section section__2 flex flex--row">
  <h3>heading 3</h3>
  <h3>heading 3</h3>
  <h3>heading 3</h3>
</section>