<header>
  <div class="logo text-center align-middle">
    <p class="hazmat">Hazmat Media</p>
  </div>
  <video autoplay loop>
    <source src="/video/LA.webm" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</header>
<section class="section section__1">
  <h2>heading 2</h2>
  <div class="circle">
    <p class="circle__text">anuus</p>
  </div>
</section>
<section class="section section__2 flex flex--row">
  <h3>heading 3</h3>
  <h3>heading 3</h3>
  <h3>heading 3</h3>
</section>
<section class="section section__3">
</section>