
<img id="menu-toggle" onClick="" src="/img/menu-icon.png" alt="Hazmat Media: Menu">
<div id="pushNav" class="sidenav">
  <a id="closeNav" href="javascript:void(0)" class="closebtn">&times;</a>
  <a id="link--top">TOP</a>
  <a id='link--section__1'>WHO WE ARE</a>
  <a id="link--section__2">WHO WE SERVE</a>
  <a id="link--section__3">WHAT WE DO</a>
  <a id="link--section__4">NEXT SECTION</a>
</div>
<header id="top">
  
  <img id="main-logo" passive="true" src="/img/fixed-logo.png" alt="Hazmat Media Logo">
  <div id="video-tint"></div>
  <video id="video" autoplay loop muted playsinline>
    <source src="/video/LA.mp4" type="video/mp4"> Your browser does not support the video tag.
  </video>
</header>
<div id="pushNav__container">
  <div id="opacity"></div>
  <section id="1" class="section section__1">
    <h1 class="section__1--h1">WHO WE ARE</h1>
    <div class="flex-row">
      <div class="section__1__textcontainer">
        <p class="section__1--paragraph">Providing Same-Day Solutions to the Public Relations and
          Marketing Communities.</p>
        <p class="section__1--paragraph">HAZMAT MEDIA is the industry-leading provider of distribution, fulfillment,
          printing and data management services to the public relations and marketing communities.</p>
        <p class="section__1--paragraph"> Serving the
          entertainment, consumer products, consumer electronics, gaming and automotive industries for over 20 years,
          HAZMAT MEDIA has the resources to handle any job.</p>
      </div>

      <div class="section__1__imgcontainer">
        <img src="./img/stock_images/stock2.jpg" class="section__1__imgcontainer--img"></img>
        <img src="./img/stock_images/stock3.jpg" class="section__1__imgcontainer--img"></img>
        <img src="./img/stock_images/stock4.jpg" class="section__1__imgcontainer--img"></img>
      </div>
    </div>
  </section>
  <section class="section__insert section__insert--1">
    <p class="section__insert--1--text">HEADLINE</p>
  </section>
  <section id="2" class="section section__2">
    <h1 class="section__2--h1 ">WHO WE SERVE</h1>
    <div class="section__2__shapecontainer">
      <div class="section__2__shapecontainer--shape">
        <p class="section__2__shapecontainer--shape--text-heading">Entertainment & Gaming</p>
      </div>
      <div class="section__2__shapecontainer--shape">
        <p class="section__2__shapecontainer--shape--text-heading">Automotive & Travel</p>
      </div>
      <div class="section__2__shapecontainer--shape">
        <p class="section__2__shapecontainer--shape--text-heading">Financial & Educational Institutions</p>
      </div>
      <div class="section__2__shapecontainer--shape">
        <p class="section__2__shapecontainer--shape--text-heading">Health & Beauty</p>
      </div>
      <div class="section__2__shapecontainer--shape">
        <p class="section__2__shapecontainer--shape--text-heading">Consumer Products & Electronics</p>
      </div>
      <div class="section__2__shapecontainer--shape">
        <p class="section__2__shapecontainer--shape--text-heading">Government, PR, Marketing & Advertising Agencies</p>
      </div>
    </div>
  </section>
  <section id="3" class="section section__3">
    <h1 class="section__3--h1">WHAT WE DO</h1>
    <div class="section__3__container">
      <p class="section__3__container--bold-text">Product Fulfillment & Distribution</p>
      <p class="section__3__container--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p class="section__3__container--bold-text section__3__container--bold-text--right">Specialized Packaging &
        Handling</p>
      <p class="section__3__container--text--right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p class="section__3__container--bold-text">Digital Printing</p>
      <p class="section__3__container--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p class="section__3__container--bold-text section__3__container--bold-text--right">Press Kit & Gift Bag Assembly</p>
      <p class="section__3__container--text--right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p class="section__3__container--bold-text">Duplication Services</p>
      <p class="section__3__container--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p class="section__3__container--bold-text section__3__container--bold-text--right">Personalized Email & Fax
        Distribution</p>
      <p class="section__3__container--text--right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
        suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>
      <p class="section__3__container--bold-text">Inventory Control</p>
      <p class="section__3__container--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit,
        augue et convallis commodo, lectus nisl lobortis leo, vitae vulputate enim tellus sed libero. Morbi arcu augue,
        lobortis nec consequat at, dapibus non felis. Aenean fringilla, lectus at hendrerit interdum, lorem tellus
        dictum felis, eget lacinia justo risus et ipsum. Sed suscipit nec purus nec dapibus.</p>

    </div>
  </section>
  <section id="4" class="section section__4">
    <h1 class="section__4--h1">ANOTHER SECTION</h1>
  </section>
  <section class="section section__footer">
    <h2>contact us</h2>
    <div class="section__footer--text">
      <p>310-659-2062</p>
      <p>Hazmat@HazmatMedia.com</p>
      <p>120 N. Robertson Blvd. Plaza M, Los Angeles, CA 90048</p>
    </div>
</div>
</section>
</div>