<img id="menu-toggle" src="/img/menu-icon.png" alt="Hazmat Media: Menu">
<div id="pushNav" class="sidenav">
  <a id="closeNav" href="javascript:void(0)" class="closebtn">&times;</a>
  <a class="link--top">TOP</a>
  <a class='link--section__1'>WHO WE ARE</a>
  <a class="link--section__2">SERVICES</a>
  <a class="link--section__3">INDUSTRIES</a>
  <a class="link--section__4">OUR CLIENTS</a>
  <a class="link--section__5">CONTACT US</a>
</div>
<nav class="desktop-nav">
  <a class="link--top">TOP</a>
  <a class='link--section__1'>WHO WE ARE</a>
  <a class="link--section__2">SERVICES</a>
  <a class="link--section__3">INDUSTRIES</a>
  <a class="link--section__4">OUR CLIENTS</a>
  <a class="link--section__5">CONTACT US</a>
</nav>
<header id="top">
  <img id="main-logo" src="/img/logo.png" alt="Hazmat Media Logo">
  <div id="video-tint"></div>
  <video id="video" autoplay loop muted playsinline>
    <source src="/video/LA.mp4" type="video/mp4"> Your browser does not support the video tag.
  </video>
</header>
<div id="pushNav__container">
  <div id="opacity"></div>
  {{>1}}
  {{>insert}}
  {{>2}}
  {{>3}}
  {{>4}}
  {{>5}}
  {{>footer}}
</div>