<img id="menu-toggle" passive="true" src="/img/nav-logo.png" onclick="toggleNav()" alt="Hazmat Media: Menu">
<div id="pushNav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<header>
  <video id="video" autoplay loop>
        <source src="/video/LA.webm" type="video/mp4"> Your browser does not support the video tag.
      </video>
</header>
<div id="pushNav__container">
  <div id="opacity"></div>
  <section class="section section__1">
    <h1>Section</h1>
  </section>
  <section class="section section__2">
    <div class="section__2 section__2--box">
      <h2>Another Section</h2>
    </div>
  </section>
</div>
