<div class="container">
  <div id="pushNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  <button onclick="toggleNav()">NAV TOGGLE</button>
  <div id="opacity"></div>
  <div id="pushNav__container">
    <header>
      <video id="video" autoplay loop>
        <source src="/video/LA.webm" type="video/mp4"> Your browser does not support the video tag.
      </video>
    </header>
    <section class="section section__1">
      <h1>heading</h1>
    </section>
  </div>
</div>