/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/nky5mob.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flex-row {
  display: flex;
  flex-flow: row wrap;
  margin: auto; }

.flex-column {
  display: flex;
  flex-flow: column wrap; }

.text {
  margin-left: auto; }

body,
html {
  overflow-x: hidden;
  font-family: Lato, sans-serif;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: none;
  color: white; }

p {
  font-size: 16px; }

#pushNav__container {
  z-index: 0;
  transition: 0.5s; }

#opacity {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 125; }

#menu-toggle {
  z-index: 100;
  height: 3rem;
  position: fixed;
  top: 1rem;
  left: 1rem; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-variant: small-caps; }

.sidenav a {
  white-space: nowrap;
  padding: 1rem 1rem 0 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:first-child {
  margin-bottom: 2rem; }

.sidenav a:hover {
  color: #fff7f7; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px; }

header {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative; }

video {
  transition: margin-left .5s;
  height: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10; }

#video-tint {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh; }

#main-logo {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media screen and (orientation: landscape) {
  #main-logo {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  video {
    min-height: 100%;
    min-width: 100%; } }

@media screen and (min-width: 1024px) {
  video {
    height: initial; } }

.section {
  padding: 0.5rem;
  z-index: 0;
  overflow: hidden; }
  .section__1 {
    background-color: #222629;
    margin-right: auto; }
    .section__1--h1 {
      color: #86c232;
      white-space: pre;
      margin-bottom: 2rem;
      margin-top: 1rem; }
    .section__1--paragraph {
      padding-left: .3rem;
      margin-bottom: .3rem; }
    .section__1__imgcontainer {
      display: flex;
      flex-direction: column;
      margin: auto; }
      .section__1__imgcontainer--img {
        background-color: #6b6e70;
        width: 10rem;
        height: 7rem;
        margin-bottom: 1rem; }
    .section__1__textcontainer {
      display: flex;
      flex-direction: column;
      width: 50%; }
  .section__2 {
    background-color: #474b4f; }
    .section__2--h1 {
      color: #86c232;
      white-space: pre;
      margin-bottom: 2rem;
      margin-top: 1rem; }
    .section__2__shapecontainer {
      display: flex;
      flex-flow: column;
      align-content: center; }
      .section__2__shapecontainer--shape {
        position: relative;
        margin: auto;
        background-color: #6b6e70;
        width: 20rem;
        height: 20rem;
        margin-bottom: 1rem;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); }
        .section__2__shapecontainer--shape--text-heading {
          font-family: "raleway", sans-serif;
          font-weight: 900;
          font-size: 2.2rem;
          position: absolute;
          transform: translate(-50%, -50%);
          color: #86c232;
          line-height: 2.4rem;
          top: 30%;
          left: 50%; }
        .section__2__shapecontainer--shape--text-content {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%; }
  .section__3 {
    background-color: #222629;
    height: 100%; }
    .section__3--h1 {
      color: white;
      white-space: pre;
      margin-bottom: 2rem;
      margin-top: 1rem; }
    .section__3__container {
      display: flex;
      flex-flow: column;
      align-content: center;
      height: 100%;
      padding: .2rem; }
      .section__3__container--bold-text {
        margin-top: .5rem;
        margin-bottom: .5rem;
        color: #61892f;
        font-family: "raleway", sans-serif;
        font-weight: 900;
        font-size: 1.99rem;
        line-height: 2.3rem; }
        .section__3__container--bold-text--right {
          text-align: right; }
      .section__3__container--text {
        margin-top: .2rem;
        line-height: 1.6rem; }
        .section__3__container--text--right {
          line-height: 1.6rem;
          text-align: right; }
  .section__4 {
    background-color: #6b6e70;
    height: 400px; }
    .section__4--h1 {
      color: #86c232;
      white-space: pre;
      margin-bottom: 2rem;
      margin-top: 1rem; }
  .section__insert {
    overflow: hidden; }
    .section__insert--1 {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      height: 100px;
      background-color: #86c232; }
      .section__insert--1--text {
        color: #222629;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: .8rem; }
  .section__footer {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: white;
    font-size: 5rem; }
    .section__footer--text {
      color: #222629;
      letter-spacing: .1rem;
      text-align: center; }

h1,
h2,
h3 {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem; }

h1 {
  font-family: Lato, sans-serif;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: white; }

h2 {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: black; }

h3 {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: white; }

li,
ol,
ul {
  list-style: georgian; }
