@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.typekit.net/nky5mob.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.margin-bottom-sm {
  margin-bottom: .5rem; }

.margin-bottom-md {
  margin-bottom: 1rem; }

.margin-top-sm {
  margin-bottom: .5rem; }

.margin-top-md {
  margin-bottom: 1rem; }

.margin-left-sm {
  margin-bottom: .5rem; }

.margin-left-md {
  margin-bottom: 1rem; }

.margin-right-sm {
  margin-bottom: .5rem; }

.margin-right-md {
  margin-bottom: 1rem; }

.text-right {
  text-align: right; }

.list-item {
  display: flex;
  flex-flow: row;
  position: relative;
  justify-content: flex-start;
  margin-bottom: 10rem; }
  .list-item p {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem; }
  .list-item__bubble {
    position: absolute;
    z-index: 4;
    background-color: #6b6e70;
    width: 7rem;
    height: 7rem;
    margin-bottom: 5rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
  .list-item__bubble-checkmark {
    font-size: 11rem;
    margin-top: 3rem;
    color: #86c232;
    z-index: 5; }

body,
html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: Lato, sans-serif;
  letter-spacing: .1rem;
  line-height: 20px;
  text-transform: none;
  color: white;
  background-color: black; }

p {
  font-size: 16px; }

#pushNav {
  transition: 0.5s; }
  #pushNav__container {
    transition: 0.5s; }

#opacity {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 7; }

#menu-toggle {
  z-index: 6;
  height: 3rem;
  position: fixed;
  top: 1rem;
  left: 1rem; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
  transition: 0.5s;
  animation-fill-mode: backwards;
  padding-top: 60px;
  font-variant: small-caps;
  font-family: Lato, sans-serif; }

.sidenav a {
  white-space: nowrap;
  padding: 1rem 1rem 0 1rem;
  text-decoration: none;
  font-size: .8rem;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:first-child {
  margin-bottom: 2rem; }

.sidenav a:hover {
  color: #fff7f7; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px; }

header {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative; }

video {
  transition: margin-left .5s;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%; }

#video-tint {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh; }

#main-logo {
  position: absolute;
  width: 55%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  transition: margin-left .5s; }

.desktop-nav {
  position: fixed;
  display: none;
  justify-content: space-evenly;
  padding-top: .5rem;
  z-index: 10;
  height: 2rem;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); }

.desktop-nav a:hover {
  text-decoration: underline; }

.section {
  min-height: 100vh;
  height: 100%;
  padding: 1rem 1.2rem 1rem 1.2rem; }
  .section ul {
    list-style: none;
    line-height: 2rem; }
  .section ul li:before {
    content: '✓';
    list-style-position: outside;
    color: #86c232;
    font-size: 3rem;
    margin-right: 2rem; }
  .section ul li {
    text-indent: -4.2rem;
    padding-left: 5rem; }
  .section__1 {
    background-color: #222629; }
    .section__1--h1 {
      color: #86c232;
      white-space: pre; }
    .section__1__small {
      display: flex;
      flex-flow: column; }
      .section__1__small img {
        width: 90vw;
        height: 15%;
        margin: auto; }
      .section__1__small img:nth-of-type(1) {
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto; }
      .section__1__small p {
        margin-bottom: 1rem; }
      .section__1__small h3:nth-of-type(1) {
        text-align: left; }
      .section__1__small h3:nth-of-type(2) {
        text-align: right; }
      .section__1__small p:nth-child(4) {
        text-align: right; }
      .section__1__small p:nth-child(5) {
        text-align: right; }
    .section__1__med {
      display: none; }
    .section__1__mlg {
      display: none; }
    .section__1__lg {
      display: none; }
    .section__1__landscape {
      display: none; }
  .section__2 {
    background-color: #474b4f; }
    .section__2--h1 {
      color: #86c232;
      white-space: pre; }
    .section__2 h3:not(:first-child) {
      color: #86c232;
      padding-top: .5rem; }
    .section__2__small {
      display: flex;
      flex-flow: column;
      justify-content: center; }
      .section__2__small img {
        width: 100%; }
      .section__2__small p:last-of-type {
        margin-bottom: 0rem; }
      .section__2__small p {
        margin-bottom: 1rem; }
    .section__2__med {
      display: none; }
    .section__2__mlg {
      display: none; }
    .section__2__lg {
      display: none; }
    .section__2__landscape {
      display: none; }
  .section__3 {
    background-color: #222629; }
    .section__3 p.instructions {
      text-align: center; }
    .section__3--h1 {
      color: white;
      white-space: pre; }
    .section__3--bold-text {
      margin-top: .5rem;
      margin-bottom: .5rem;
      color: #61892f;
      font-family: "raleway", sans-serif;
      font-weight: 900;
      line-height: 2.3rem; }
    .section__3--text--right {
      text-align: right; }
    .section__3__small {
      display: flex;
      flex-flow: column;
      align-content: center; }
    .section__3__med {
      display: none; }
    .section__3__mlg {
      display: none; }
    .section__3__lg {
      display: none; }
    .section__3__landscape {
      display: none; }
  .section__4 {
    background-color: #6b6e70; }
    .section__4--h1 {
      color: white;
      line-height: 2.5rem; }
    .section__4--h3 {
      color: #86c232; }
    .section__4 img {
      width: 100%;
      margin-top: .5rem;
      margin-bottom: .5rem; }
    .section__4__small {
      display: flex;
      flex-flow: column;
      justify-content: center; }
      .section__4__small .img-flex {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-content: space-around; }
      .section__4__small--col-1 {
        display: flex;
        flex-flow: column;
        align-items: center; }
      .section__4__small--col-2 {
        flex-shrink: 1.1; }
    .section__4__med {
      display: none; }
    .section__4__mlg {
      display: none; }
    .section__4__lg {
      display: none; }
    .section__4__landscape {
      display: none; }
  .section__5 {
    background-color: #222629; }
    .section__5--h1 {
      color: white;
      line-height: 2.5rem; }
    .section__5--h3 {
      color: #86c232; }

.insert {
  overflow: hidden; }
  .insert--1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: #86c232; }
    .insert--1--text {
      color: #222629;
      letter-spacing: .8rem; }
  .insert__footer {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: .4rem;
    width: 100%;
    background-color: white; }
    .insert__footer--h3 {
      color: black; }
    .insert__footer p {
      margin-bottom: -.1rem;
      padding: 0rem;
      text-align: left; }
    .insert__footer--text {
      color: #222629;
      letter-spacing: .1rem; }

.card {
  perspective: 150rem;
  -webkit-perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 15rem;
  width: 100%;
  margin: auto; }
  .card__side {
    border: 1px solid white;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.65);
    height: 15rem;
    transition: all .8s; }
    .card__side--front {
      background-color: white;
      z-index: 1; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back p {
        padding: 1rem; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #6b6e70, #222629); }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  .card__picture {
    height: 15rem; }
    .card__picture--1 {
      width: 100%; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute; }

@media screen and (min-width: 500px) {
  .card {
    perspective: 150rem;
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    width: 100%;
    height: 20rem; }
    .card__side {
      border: 1px solid white;
      position: absolute;
      height: 20rem;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.65);
      transition: all .8s; }
      .card__side--front {
        background-color: white;
        z-index: 1; }
      .card__side--back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg); }
        .card__side--back p {
          padding: 1rem; }
        .card__side--back-1 {
          background-image: linear-gradient(to right bottom, #6b6e70, #222629); }
    .card:hover .card__side--front {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
    .card:hover .card__side--back {
      -webkit-transform: rotateY(0);
      transform: rotateY(0); }
    .card__picture--1 {
      width: 100%;
      height: 20rem; }
    .card__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: white;
      position: absolute; } }

h1,
h2,
h3 {
  text-align: center; }

h1 {
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem; }

h2 {
  font-family: "raleway", sans-serif;
  font-weight: 900;
  font-size: 1.99rem;
  line-height: 2.3rem; }

h3 {
  font-family: "raleway", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: .5rem; }

@media screen and (min-width: 425px) {
  .section__1__small {
    display: none; }
  .section__1__med {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .section__1__med img {
      width: 90vw;
      height: 15%;
      margin: auto; }
    .section__1__med img:nth-of-type(1) {
      margin-bottom: 1rem; }
    .section__1__med p {
      margin-bottom: 1rem; }
    .section__1__med h3:nth-of-type(1) {
      text-align: left; }
    .section__1__med h3:nth-of-type(2) {
      text-align: right; }
    .section__1__med p:nth-child(4) {
      text-align: right; }
    .section__1__med p:nth-child(5) {
      text-align: right; }
  .section__2__small {
    display: none; }
  .section__2__med {
    display: flex;
    flex-flow: column; }
    .section__2__med p {
      margin-bottom: 1rem; }
    .section__2__med p:last-of-type {
      margin-bottom: 0; }
    .section__2__med img {
      width: 100%; }
  .section__3__small {
    display: none; }
  .section__3__med {
    display: flex;
    flex-flow: column; }
  .section__4__small {
    display: none; }
  .section__4__med {
    display: flex;
    flex-flow: column; }
  p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    line-height: 2rem; } }

@media screen and (min-width: 768px) {
  .section__1__med {
    display: none; }
  .section__1__mlg {
    display: flex;
    flex-flow: row;
    min-height: 100vh; }
    .section__1__mlg--col-1 {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      margin-right: 1rem; }
    .section__1__mlg--col-2 {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly; }
      .section__1__mlg--col-2 img:first-child {
        padding-bottom: 1rem; }
      .section__1__mlg--col-2 img {
        width: 45vw; }
  .section__2__med {
    display: none; }
  .section__2__mlg {
    display: flex;
    flex-direction: row; }
    .section__2__mlg img {
      width: 100%; }
    .section__2__mlg--col-1 {
      flex: 40%;
      display: flex;
      flex-flow: column;
      margin: auto;
      justify-content: center; }
    .section__2__mlg--col-2 {
      flex: 40%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly; }
  .section__3--bold-text {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #61892f;
    font-family: "raleway", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.3rem; }
  .section__3__med {
    display: none; }
  .section__3__mlg {
    display: flex;
    flex-flow: row; }
    .section__3__mlg--col-1 {
      display: flex;
      flex-flow: column;
      width: 50%;
      margin: auto; }
    .section__3__mlg--col-2 {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly; }
      .section__3__mlg--col-2--item {
        width: 22rem;
        height: 15rem;
        background-color: #86c232;
        margin-right: 1rem;
        margin-bottom: 5rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .section__4__med {
    display: none; }
  .section__4__mlg {
    display: flex;
    flex-flow: row; }
    .section__4__mlg--col-1 {
      padding-right: 1rem;
      display: flex;
      flex-flow: column;
      width: 50%; }
    .section__4__mlg--col-2 {
      display: flex;
      flex-flow: column;
      width: 50%; }
  h1 {
    font-size: 3rem; }
  h3 {
    font-size: 2rem; }
  p {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    line-height: 2.4rem; } }

@media screen and (min-width: 1024px) {
  #main-logo {
    width: 40%; }
  #menu-toggle {
    display: none; }
  #pushNav {
    display: none; }
  .desktop-nav {
    display: flex; }
  h1 {
    font-family: Lato, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1.5rem; }
  h2 {
    font-family: "raleway", sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 2.3rem; }
  h3 {
    font-family: "raleway", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: .5rem; }
  p {
    font-size: 20px;
    padding: 1rem;
    line-height: 2rem; }
  .section__1__mlg {
    display: none; }
  .section__1__lg {
    display: flex;
    flex-flow: row;
    min-height: 100vh; }
    .section__1__lg--col-1 {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      margin-right: 1rem; }
    .section__1__lg--col-2 {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly; }
      .section__1__lg--col-2 img:first-child {
        padding-bottom: 1rem; }
      .section__1__lg--col-2 img {
        width: 45vw; }
  .section__2__mlg {
    display: none; }
  .section__2__lg {
    display: flex;
    flex-direction: row; }
    .section__2__lg img {
      width: 100%; }
    .section__2__lg--col-1 {
      flex: 40%;
      display: flex;
      flex-flow: column;
      margin: auto;
      justify-content: center; }
    .section__2__lg--col-2 {
      flex: 40%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly; }
  .section__3--bold-text {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #61892f;
    font-family: "raleway", sans-serif;
    font-weight: 900;
    font-size: 2.9rem;
    line-height: 2.3rem; }
  .section__3__mlg {
    display: none; }
  .section__3__lg {
    display: flex;
    flex-flow: row; }
    .section__3__lg--col-1 {
      display: flex;
      flex-flow: column;
      width: 50%; }
    .section__3__lg--col-2 {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      margin-left: auto;
      margin-right: auto; }
      .section__3__lg--col-2--item {
        width: 30rem;
        height: 20rem;
        background-color: #86c232;
        margin-right: 1rem;
        margin-bottom: 10rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  .section__4__mlg {
    display: none; }
  .section__4__lg {
    display: flex;
    flex-flow: row; }
    .section__4__lg--col-1 {
      padding-right: 1rem;
      display: flex;
      flex-flow: column;
      width: 50%; }
    .section__4__lg--col-2 {
      display: flex;
      flex-flow: column;
      width: 50%; }
  .desktop-nav {
    font-size: 1.4rem;
    margin-top: -1rem;
    align-items: center;
    height: 4rem; }
  h1 {
    margin-top: 2rem;
    font-size: 4rem;
    margin-bottom: 4rem; }
  h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem; }
  p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    line-height: 3.5rem; } }

@media screen and (max-height: 599px) and (orientation: landscape) {
  #main-logo {
    width: 40%; }
  .section__1__small {
    display: none; }
  .section__1__med {
    display: none; }
  .section__1__mlg {
    display: none; }
  .section__1__lg {
    display: none; }
  .section__1__landscape {
    display: block; }
    .section__1__landscape--col-2 {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly; }
      .section__1__landscape--col-2 img {
        height: 12rem; }
      .section__1__landscape--col-2 img:first-child {
        margin-right: 1rem; }
  .section__2__small {
    display: none; }
  .section__2__med {
    display: none;
    flex-flow: column; }
  .section__2__mlg {
    display: none; }
  .section__2__lg {
    display: none; }
  .section__2__landscape {
    display: flex;
    flex-flow: row; }
    .section__2__landscape--col-1 {
      display: flex;
      flex-flow: column;
      width: 50%; }
      .section__2__landscape--col-1 img {
        margin-top: 1rem;
        width: 100%; }
    .section__2__landscape--col-2 {
      display: flex;
      flex-flow: column;
      margin: auto; }
      .section__2__landscape--col-2--item {
        background-color: #6b6e70;
        width: 14rem;
        height: 14rem;
        margin-right: 1rem;
        margin-bottom: 5rem;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); }
  .section__3__small {
    display: none; }
  .section__3__med {
    display: none;
    flex-flow: column; }
  .section__3__mlg {
    display: none; }
  .section__3__lg {
    display: none; }
  .section__3__landscape {
    display: flex;
    flex-flow: row; }
    .section__3__landscape--col-1 {
      display: flex;
      flex-flow: column; }
  .section__4__small {
    display: none; }
  .section__4__med {
    display: none; }
  .section__4__mlg {
    display: none; }
  .section__4__lg {
    display: none; }
  .section__4__landscape {
    display: flex;
    flex-flow: row; }
    .section__4__landscape--col-1 {
      padding-right: 1rem;
      display: flex;
      flex-flow: column;
      width: 50%; }
    .section__4__landscape--col-2 {
      display: flex;
      flex-flow: column;
      width: 50%; } }
