/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flex {
  display: flex; }
  .flex--row {
    flex-flow: row wrap; }
  .flex--column {
    flex-flow: column; }

.circle {
  position: relative;
  height: 5rem;
  width: 5rem;
  background-color: red;
  -webkit-clip-path: circle(50.1% at 50% 50%);
  clip-path: circle(50.1% at 50% 50%); }
  .circle__text {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%; }

body {
  font-size: 1rem; }

h1 {
  font-size: 3.2em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 1.6em; }

header {
  position: relative;
  height: 100vh;
  border-bottom: 0.1rem solid black;
  overflow: hidden; }

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh; }

.nav {
  z-index: 1;
  position: absolute;
  top: 2vh;
  left: 0;
  height: 5vh;
  border-bottom: 0.05rem solid #5ea539;
  border-top: 0.05rem solid #5ea539;
  width: 100%;
  height: 3rem; }

.nav-logo {
  position: absolute;
  padding-top: 1rem;
  top: 0;
  left: 0;
  width: 15rem; }

.section__1 {
  background-color: #0083d3;
  height: 60vh; }

.section__2 {
  background-color: #fc7f04;
  height: 5vh; }
  .section__2--span {
    color: green; }

.section__3 {
  height: 50vh;
  background-color: #5ea539; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#container {
  transition: margin-left .5s; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }
