@import url("https://use.typekit.net/fiy2imi.css");
h1,
h2,
h3 {
font-family: 'aglet-slab', sans-serif;
font-weight:500;
font-variant: small-caps;

}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

li,
ol,
p {

}

li,
ol,
ul {
  list-style: georgian;
}
//custom headings, positioning etc.

.banner-text {
  text-align: center;
  font-size: 4rem;
  padding-top: 15rem;
  color: white;
}
#main-logo{
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
