h1,
h2,
h3 {
  font-family: 'MontrealRegular';
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

li,
ol,
p {
  font-family: 'PoppinsRegular';
  font-weight: normal;
  font-style: normal;
}

li,
ol {
  width: 50%;
}
//custom headings, positioning etc.
#section__1--h1 {
  text-align: center;
  transition: 0.5s;
}

#section__2--h1 {
  text-align: center;
  transition: 0.5s;
}

#section__3--h1 {
  text-align: center;
  transition: 0.5s;
}

#section__4--h1 {
  text-align: center;
  transition: 0.5s;
}

.banner-text {
  text-align: center;
  font-size: 4rem;
  padding-top: 15rem;
  color: white;
}
