form{
    text-align: center;
}
input[name=name]{
  
    width: 45vw;
}
input[name=mail]{

width: 45vw;
}
input[name=comment]{
  
    width: 45vw;
    height: 20vh;
}
input[type=submit]{
    border: 1px solid black;
}
input[type=reset]{
    border: 1px solid black;
}