#pushNav {
  &__container {
    @include z-index(contentContainer);
    transition: 0.5s;
  }
}

#opacity {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  @include z-index(opacity);
}

#menu-toggle {
  @include z-index(menuToggle);
  height: 3rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  @include z-index(sideNavLinks);
  top: 0;
  left: 0;
  background-color: $c-black;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-variant: small-caps;
  // border-right: .09rem solid white;
}

.sidenav a {
  white-space: nowrap;
  padding: 1rem 1rem 0 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:first-child {
  margin-bottom: 2rem;
}
.sidenav a:hover {
  color: #fff7f7;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}
