header {
  height: 100vh;
}

video {
  transition: margin-left .5s;
  height: 100%;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  @include z-index(video)
}
#main-logo{
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//main logo landscape breakpoint mobile
@include landscapeMode {
  #main-logo{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//--> video media control
@include videoDesktopBreakpoint {
  video{
    height: initial;
  }
}
