header {
    position: relative;
    height: 40vh;
    border-bottom: .1rem solid black;
    overflow: hidden;
}

video {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

.logo{
    z-index: 1;
    position: fixed;
    top: 30vh;
    left: 0;
    height: 5vh;
    background-color: rgba($color: white, $alpha: .2);
    border-bottom: .05rem solid $c-hazmat-green;
    border-top: .05rem solid $c-hazmat-green;
    width: 100%;
}
.hazmat{
    vertical-align: middle;
}