.logo {
    width: 60%;

    // background: white;
    &__wb {
        &--small {
            width: 50%;
        }

        &--med {
            width: 50%;

        }

        &--mlg {
            // width: 60%;
        }

        &--lg {}

        &--landscape {}
    }

    &__nick {
        &--small {
            width: 75%;
        }

        &--med {
            width: 75%;

        }

        &--mlg {
            padding: 3rem 0 3rem 0;
            width: 100%;
        }

        &--lg {
            padding: 5rem 0 5rem 0;
            width: 100%;
        }

        &--landscape {
            padding: 3rem 0 3rem 0;
            width: 100%;
        }
    }

    &__a24 {
        &--small {}

        &--med {}

        &--mlg {
            width: 50%;
        }

        &--lg {
            width: 50%;
        }

        &--landscape {  width: 50%;}
    }

    &__ubisoft {
        &--small {
            width: 40%;
        }

        &--med {
            width: 40%;

        }

        &--mlg {
            width: 45%;
        }

        &--lg {
            width: 45%;
        }

        &--landscape {            width: 45%;
        }
    }

    &__finn {
        background: white;

        &--small {}

        &--med {}

        &--mlg {
            // width: 30%;
        }

        &--lg {}

        &--landscape {}
    }

    &__ifc {
        &--small {}

        &--med {}

        &--mlg {
            padding: 1rem;
        }

        &--lg {
            padding: 1rem;
        }

        &--landscape {            padding: 1rem;
        }
    }

    &__natgeo {
        &--small {}

        &--med {}

        &--mlg {
            // width: 30%;
        }

        &--lg {}

        &--landscape {}
    }

    &__playstation {
        &--small {}

        &--med {}

        &--mlg {
            padding: 1rem;
        }

        &--lg {
            padding: 1rem;
        }

        &--landscape {            padding: 1rem;
        }
    }

    &__hulu {
        &--small {}

        &--med {}

        &--mlg {
            // width: 30%;
        }

        &--lg {}

        &--landscape {}
    }

    &__amazon {
        &--small {}

        &--med {}

        &--mlg {
            padding: 1rem;
        }

        &--lg {
            padding: 1rem;
        }

        &--landscape {            padding: 1rem;
        }
    }

    &__capcom {
        &--small {}

        &--med {}

        &--mlg {
            // width: 30%;
        }

        &--lg {}

        &--landscape {}
    }

    &__lightyears {
        &--small {
            width: 45%;
        }

        &--med {
            width: 45%;

        }

        &--mlg {
            padding: 1rem;
        }

        &--lg {
            padding: 1rem;
        }

        &--landscape {            padding: 1rem;
        }
    }

    &__magnolia {
        &--small {}

        &--med {}

        &--mlg {
            // width: 30%;
            padding: 1rem;
        }

        &--lg {
            padding: 1rem;
        }

        &--landscape {            padding: 1rem;
        }
    }

    &__oscope {
        &--small {}

        &--med {}

        &--mlg {}

        &--lg {}

        &--landscape {}
    }

    &__participant {
        &--small {}

        &--med {}

        &--mlg {
            // width: 30%;
            padding: 1rem;
        }

        &--lg {
            padding: 1rem;
        }

        &--landscape {            padding: 1rem;
        }
    }

    &__roadside {
        background: white;
        padding: .25rem;

        &--small {
            width: 45%;
        }

        &--med {
            width: 45%;
        }

        &--mlg {
            // background: white;
            padding: 1rem;
        }

        &--lg {
            padding: 1rem;
        }

        &--landscape {            padding: 1rem;
        }
    }

    &__rogersandcowan {
        &--small {
            width: 50%
        }

        &--med {
            width: 50%
        }

        &--mlg {
            // width: 30%;
        }

        &--lg {}

        &--landscape {}
    }

    &__spr {
        background: white;
        padding: .25rem;

        &--small {
            width: 50%;
        }

        &--med {
            width: 50%;
        }

        &--mlg {
            padding: 1rem;
        }

        &--lg {
            padding: 1rem;
        }

        &--landscape {            padding: 1rem;
        }
    }

    &__tpn {
        &--small {
            width: 50%;
        }

        &--med {
            width: 50%;
        }

        &--mlg {
            // width: 30%;
        }

        &--lg {}

        &--landscape {}
    }
}