.logo{
    width: 60%;
    // background: white;
    &__wb{
        &--small{
            width: 50%;
        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__nick{
        &--small{
            width: 75%;
        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__a24{
        &--small{
        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__ubisoft{
        &--small{
            width: 40%;
        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__finn{
        background: white;
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__ifc{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__natgeo{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__playstation{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__hulu{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__amazon{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__capcom{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__lightyears{
        &--small{
            width: 45%;
        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__magnolia{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__oscope{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__participant{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__roadside{
        &--small{
            background: white;
            padding: .25rem;
            width: 45%;
        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__rogersandcowan{
        &--small{
            width: 45%
        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__spr{
        &--small{
            background: white;
            padding: .25rem;
            width: 40%;
        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
    &__tpn{
        &--small{

        }
        &--med{

        }
        &--mlg{

        }
        &--lg{

        }
        &--landscape{

        }
    }
}