.section {
  padding: 0.5rem;
  @include z-index(section);
  overflow: hidden;
  border-bottom: 0.03rem solid white;

  &__1 {
    border-top: 0.03rem solid white;
    background-color: $c-hazmat-blue;
    height: auto;
    margin-right: auto;

    &--h1 {
      transition: 0.5s;
    }

    &__shapecontainer {
      display: flex;
      flex-direction: column;
      margin: auto;

      &--shape {
        background-color:$c-hazmat-orange;
        width: 7rem;
        height: 7rem;
        margin-bottom: 1rem;
      }
    }

    &--paragraph {
      flex: 0 50%;
      padding-left: .3rem;
    }

    &__listcontainer {
      flex: 0 50%;

      &--list {
        // text-align: right;
      }
    }

    &--text3 {
      flex: 0 50%;
    }
  }

  &__2 {
    background-color: $c-hazmat-green;
    height: 700px;

    &--h1 {
      // text-align: center;
      transition: 0.5s;
      padding-bottom: 1rem;
    }
  }

  &__3 {
    background-color: $c-hazmat-orange;
    height: 700px;

    &--h1 {
      // text-align: center;
      transition: 0.5s;
      padding-bottom: 1rem;
    }
  }

  &__4 {
    background-color: $c-hazmat-blue;
    height: 700px;
  }

  &--h1 {
    // text-align: center;
    transition: 0.5s;
    padding-bottom: 1rem;
  }
}
