.section {
  padding: 0.5rem;
  @include z-index(section);
  overflow: hidden;
  //content sections
  //section 1
  &__1 {
    background-color: $c-dark-grey;
    margin-right: auto;

    &--h1 {
      color: $c-light-green;
      white-space: pre;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }

    &--paragraph {
      padding-left: .3rem;
      margin-bottom: .3rem;
    }

    &__imgcontainer {
      display: flex;
      flex-direction: column;
      margin: auto;

      &--img {
        background-color: $c-light-grey;
        width: 10rem;
        height: 7rem;
        margin-bottom: 1rem;
      }
    }

    &__textcontainer {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  //section2
  &__2 {
    background-color: $c-middle-grey;
    // height: 700px;

    &--h1 {
      color: $c-light-green;
      white-space: pre;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }

    &__shapecontainer {
      display: flex;
      flex-flow: column;
      align-content: center;

      &--shape {
        position: relative;
        margin: auto;
        background-color: $c-light-grey;
        width: 20rem;
        height: 20rem;
        margin-bottom: 1rem;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        &--text-heading {
          font-family: "raleway", sans-serif;
          font-weight: 900;
          font-size: 2.2rem;
          position: absolute;
          transform: translate(-50%, -50%);
          color: $c-light-green;
          line-height: 2.4rem;
          top: 30%;
          left: 50%;

        }

        &--text-content {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }
      }
    }
  }

  &__3 {
    background-color: $c-dark-grey;
    height: 100%;

    &--h1 {
      color: white;
      white-space: pre;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }

    &__container {
      display: flex;
      flex-flow: column;
      align-content: center;
      height: 100%;
      padding: .2rem;

      &--bold-text {
        margin-top: .5rem;
        margin-bottom: .5rem;
        color: $c-dark-green;
        font-family: "raleway", sans-serif;
        font-weight: 900;
        font-size: 1.99rem;
        line-height: 2.3rem;

        &--right {
          text-align: right;
        }
      }

      &--text {
        margin-top: .2rem;
        line-height: 1.6rem;
        &--right{
          line-height: 1.6rem;
          text-align: right;
        }
      }
    }
  }

  &__4 {
    background-color: $c-light-grey;
    height: 400px;

    &--h1 {
      color: $c-light-green;
      white-space: pre;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }

  //inserts 
  &__insert {
    overflow: hidden;

    &--1 {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      height: 100px;
      background-color: $c-light-green;

      &--text {
        color: $c-dark-grey;
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: .8rem;
      }
    }
  }

  &__footer {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: white;
    font-size: 5rem;

    &--text {
      color: $c-dark-grey;
      letter-spacing: .1rem;
      text-align: center;
    }
  }
}