.section {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
@include z-index(section)
  &__1 {
    background-color: $c-hazmat-blue;
    height: 700px;

  }

  &__2 {
    background-color: $c-hazmat-green;
    height: 700px;
  }
}
