body,
html {
  font-family: 'MontrealRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

#opacity {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  @include z-index(opacity);
}

#menu-toggle {
  z-index: 10000;
  height: 2rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
}
