body,
html {
  overflow-x: hidden;
  font-family: Lato, sans-serif;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: none;
  color: white;
  background-color: black;
  position: relative;
}
body:before, body:after {
  content: "";
  position: fixed;
  background:black;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
}
p{
  font-size: 16px;
}