//root design is 360x640 portrait;

//mobile med
@media screen and (min-width: 425px){
    .section{
        &__1{
            &__small{
                display: none;
            }
            &__med{
                display: flex;
            }
        }
        &__2{
            &__small{
                display: none;
            }
            &__med{
                display: flex;
                flex-flow: column;
            }
        }
        &__3{
            &__small{
                display: none;
            }
            &__med{
                display: flex;   
                flex-flow: column;
            }
        }
        &__4{
            &__small{
                display: none;
            }
            &__med{
             display: flex;   
            }
        }

    }
}
@media screen and (min-width: 768px){
    .section{
        &__1{
            &__med{
                display: none;
            }
            &__mlg{
                display: flex;
            }
        }
        &__2{
            &__med{
                display: none;
            }
            &__mlg{
                display: flex;
                flex-flow: column;
            }
        }
        &__3{
            &__med{
                display: none;
            }
            &__mlg{
                display: flex;   
                flex-flow: column;
            }
        }
        &__4{
            &__med{
                display: none;
            }
            &__mlg{
             display: flex;   
            }
        }

    }
}

//desktop sm 1024
@media screen and (min-width: 1024px)  {
    @include hideMobileNav;
    @include lg;
}
// landscape small
@media screen and (max-height: 768px) and (orientation:landscape) {
  @include landscapeSmall;
}