//nav
@mixin hideMobileNav {
    #main-logo{
        width: 40%;
    }
    #menu-toggle {
        display: none;
    }

    #pushNav {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }
}
//breakpoints width
//landscape small
@mixin landscapeSmall {
    #main-logo{
        width: 40%;
    }
    .section{
        &__1{
            &__small{
                display: none;
            }
            &__med{
                display: none;
            }
            &__mlg{
                display: none;
            }
            &__lg{
                display: none;
            }
            &__landscape{
                display: block;
            }
        }
        &__2{
            &__small{
                display: none;
            }
            &__med{
                display: none;
                flex-flow: column;
            }
            &__mlg{
                display: none;
            }
            &__lg{
                display: none;
            }
            &__landscape{
                display: block;
            }
        }
        &__3{
            &__small{
                display: none;
            }
            &__med{
                display: none;   
                flex-flow: column;
            }
            &__mlg{
                display: none;
            }
            &__lg{
                display: none;
            }
            &__landscape{
                display: block;
            }
        }
        &__4{
            &__small{
                display: none;
            }
            &__med{
             display: none;   
            }
            &__mlg{
                display: none;
            }
            &__lg{
                display: none;
            }
            &__landscape{
                display: block;
            }
        }
    }
}
@mixin lg{
    .section{
        &__1{
            &__mlg{
                display: none;
            }
            &__lg{
                display: flex;
            }
        }
        &__2{
            &__mlg{
                display: none;
            }
            &__lg{
                display: flex;
                flex-flow: column;
            }
        }
        &__3{
            &__mlg{
                display: none;
            }
            &__lg{
                display: flex;   
                flex-flow: column;
            }
        }
        &__4{
            &__mlg{
                display: none;
            }
            &__lg{
             display: flex;   
            }
        }
    }
}