//nav
@mixin hideMobileNav {
    // #logoWrapper {
    //     width: 40%;
    // }

    #menu-toggle {
        display: none;
    }

    #pushNav {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }
}

//type adjustments 
@mixin medFont {
    p {
        font-size: 1.2rem;
        padding-bottom: 1rem;
        line-height: 2rem;
    }
}

@mixin mlgFont {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
        padding-bottom: 1rem;
        line-height: 2.4rem;
    }
}

@mixin lgFont {
    .desktop-nav {
        font-size: 1.4rem;
        margin-top: -1rem;
        align-items: center;
        height: 4rem;
    }

    h1 {
        margin-top: 2rem;
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
        padding-bottom: 1rem;
        line-height: 3.5rem;
    }

    .list-item {

        p {
            font-size: 1.3rem;
        }

        &__bubble {
            width: 10rem;
            height: 10rem;
        }

        &__bubble-checkmark {
            font-size: 15rem;
        }
    }

}

@mixin xlgFont {
    .desktop-nav {
        font-size: 1.4rem;
        margin-top: -1rem;
        align-items: center;
        height: 4rem;
    }

    h1 {
        margin-top: 2rem;
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
        padding-bottom: 1rem;
        line-height: 3.5rem;
    }

    .list-item {

        p {
            font-size: 2rem;
        }

        &__bubble {
            width: 10rem;
            height: 10rem;
        }

        &__bubble-checkmark {
            font-size: 15rem;
        }
    }

    .section {
        &__1 {
            p {
                padding-right: 8rem;
                padding-left: 6rem;
            }
        }

        &__2 {
            p {
                // padding-right: 5rem;
                // padding-left: 5rem;
            }
        }

        &__3 {
            padding-left: 15rem;
        }

        &__5 {


            input[name=name] {

                width: 50vw;
            }

            input[name=mail] {

                width: 50vw;
            }

            input[name=comment] {

                width: 50vw;
                height: 20vh;
            }
        }

        &__footer {}
    }
}

//breakpoints width
//landscape small
@mixin landscapeSmall {
    .section {
        &__1 {
            &__small {
                display: none;
            }

            &__med {
                display: none;
            }

            &__mlg {
                display: none;
            }

            &__lg {
                display: none;
            }

            &__landscape {
                display: block;
                padding-top: 1rem;
                padding-right: 2rem;
                padding-left: 2rem;

                &--col-2 {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-evenly;

                    img {
                        height: 12rem
                    }

                    img:first-child {
                        margin-right: 1rem;
                        // height: 73vh;
                    }

                }
            }
        }

        &__2 {
            &__small {
                display: none;
            }

            &__med {
                display: none;
                flex-flow: column;
            }

            &__mlg {
                display: none;
            }

            &__lg {
                display: none;
            }

            &--h1 {
                margin-bottom: 2rem;
            }

            &__landscape {
                display: flex;
                flex-direction: row;

                img {
                    width: 40vw;
                    margin: auto;
                }

                &--col-1 {
                    width: 50%;
                    display: flex;
                    flex-flow: column;
                    // justify-content: space-evenly;
                    margin: auto;
                    // justify-content: center;
                }

                &--col-2 {
                    width: 50%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                }

            }
        }

        &__3 {

            &__small {
                display: none;
            }

            &__med {
                display: none;
                flex-flow: column;
            }

            &__mlg {
                display: none;
            }

            &__lg {
                display: none;
            }

            &__landscape {
                display: flex;
                flex-flow: row;

                p {
                    font-size: 1.5rem;
                    padding-top: .5rem;
                    margin: auto;
                    line-height: 1.5rem;
                }

                img {
                    width: 40vw;
                    margin: auto;
                }

                &--col-1 {
                    width: 50%;
                    display: flex;
                    flex-flow: column;
                    align-items: center;

                }

                &--col-2 {
                    width: 50%;
                    display: flex;
                    flex-flow: column;
                    align-items: center;

                }
            }
        }

        &__4 {
            &__small {
                display: none;
            }

            &__med {
                display: none;
            }

            &__mlg {
                display: none;
            }

            &__lg {
                display: none;
            }

            &__landscape {
                display: flex;
                flex-flow: row;
                justify-content: center;

                img {
                    // width: 30vw;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }

                &--col-1 {
                    width: 50%;
                    display: flex;
                    flex-flow: column;
                    align-items: center;

                }

                &--col-2 {
                    width: 50%;
                    display: flex;
                    flex-flow: column;
                    align-items: center;

                }
            }
        }

        &__insert {
            padding-top: 1rem;
        }
    }

    .list-item {
        display: flex;
        flex-flow: row;
        position: relative;
        justify-content: flex-start;
        margin-bottom: 5rem;

        p {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-top: 1rem;
        }

        &__bubble {
            position: absolute;
            @include z-index(bubble);
            background-color: $c-light-grey;
            width: 4rem;
            height: 4rem;
            margin-bottom: 5rem;
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);

        }

        &__bubble-checkmark {
            font-size: 6rem;
            margin-top: 1rem;
            color: $c-light-green;
            @include z-index(checkmark);
        }
    }
}

@mixin med {
    .section {
        &__1 {
            &__small {
                display: none;
            }

            &__med {
                display: flex;
                flex-flow: column;
                justify-content: center;

                img {
                    width: 90vw;
                    height: 15%;
                    margin: auto;
                }

                img:nth-of-type(1) {
                    margin-bottom: 1rem;
                }

                p {
                    margin-bottom: 1rem;
                }

                h3:nth-of-type(1) {
                    text-align: left;
                }

                h3:nth-of-type(2) {
                    text-align: right;
                }

                p:nth-child(4) {
                    text-align: right;
                }

                p:nth-child(5) {
                    text-align: right;
                }
            }
        }

        &__2 {
            &__small {
                display: none;
            }

            &__med {
                display: flex;
                flex-flow: column;

                p {
                    margin-bottom: 1rem;
                }

                p:last-of-type {
                    margin-bottom: 0;
                }

                img {
                    width: 100%;
                }
            }
        }

        &__3 {
            &__small {
                display: none;
            }

            &__med {
                display: flex;
                flex-flow: column;

            }
        }

        &__4 {
            &__small {
                display: none;
            }

            &__med {
                display: flex;
                flex-flow: column;
                align-items: center;

                img {
                    // width: 50vw;
                    margin-top: .5rem;
                    margin-bottom: 1rem;
                }
            }
        }

        &__footer {
            background-color: white;
            color: black;
            padding-top: .5rem;
            overflow: hidden;

            p {

                line-height: .1rem;
            }

            &__small {
                display: flex;
                flex-flow: column;
                align-items: center;


            }

            &__large {
                display: none;
            }
        }
    }
}

@mixin mlg {
    .section {
        &__1 {
            &__med {
                display: none;
            }

            &__mlg {
                display: flex;
                flex-flow: row;
                min-height: 100vh;

                &--col-1 {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    margin-right: 1rem;
                }

                &--col-2 {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;

                    img:first-child {
                        padding-bottom: 1rem;
                    }

                    img {
                        width: 45vw;
                    }
                }
            }
        }

        &__2 {
            &__med {
                display: none;
            }

            &__mlg {
                display: flex;
                flex-direction: row;

                img {
                    width: 100%;
                }

                &--col-1 {
                    flex: 40%;
                    display: flex;
                    flex-flow: column;
                    // justify-content: space-evenly;
                    margin: auto;
                    justify-content: center;
                }

                &--col-2 {
                    flex: 40%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                }

            }
        }

        &__3 {
            img {
                width: 40vw;

            }

            &--bold-text {
                margin-top: .5rem;
                margin-bottom: .5rem;
                color: $c-dark-green;
                font-family: "raleway", sans-serif;
                font-weight: 900;
                font-size: 2rem;
                line-height: 2.3rem;
            }

            &__med {
                display: none;
            }

            &__mlg {
                display: flex;
                flex-flow: row;

                &--col-1 {
                    padding-left: 2rem;
                    width: 50%;
                }

                &--col-2 {
                    width: 50%;

                }
            }
        }

        &__4 {
            &__med {
                display: none;
            }

            &__mlg {
                display: flex;
                flex-flow: row;
                justify-content: center;
                img {
                    // width: 30vw;
                    margin-top: .5rem;
                    margin-bottom: 1rem;
                }

                &--col-1 {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    width: 50%;
                }

                &--col-2 {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    align-content: space-between;
                    width: 50%;
                }
            }
        }

        &__footer {
            &__small {
                display: none;
            }

            &__large {
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                padding-top: 1rem;

                p {
                    font-size: .6rem;
                    line-height: .7rem;
                }
            }
        }
    }
}

@mixin lg {
    h1 {
        font-family: Lato, sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: .3rem;
        text-transform: uppercase;
        color: white;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-family: "raleway", sans-serif;
        font-weight: 900;
        font-size: 2.3rem;
        line-height: 2.3rem;
    }

    h3 {
        font-family: "raleway", sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    p {
        font-size: 20px;
        padding: 1rem;
        line-height: 2rem;
    }

    .section {
        padding-left: 5rem;
        padding-right: 5rem;

        &__1 {
            &__mlg {
                display: none;
            }

            &__lg {
                display: flex;
                flex-flow: row;
                min-height: 100vh;

                &--col-1 {
                    &--p {
                        // margin-top: -5rem;
                    }

                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;
                    margin-right: 1rem;
                }

                &--col-2 {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;

                    img:first-child {
                        padding-bottom: 1rem;
                    }

                    img {
                        width: 30vw;
                    }
                }

            }
        }

        &__2 {
            &__mlg {
                display: none;
            }

            &__lg {
                display: flex;
                flex-direction: row;

                img {
                    width: 100%;
                }

                &--col-1 {
                    flex: 40%;
                    display: flex;
                    flex-flow: column;
                    // justify-content: space-evenly;
                    margin: auto;
                    justify-content: center;
                }

                &--col-2 {
                    flex: 40%;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-evenly;

                    p {
                        text-indent: 5rem;
                    }
                }
            }
        }

        &__3 {

            &--bold-text {
                margin-top: .5rem;
                margin-bottom: .5rem;
                color: $c-dark-green;
                font-family: "raleway", sans-serif;
                font-weight: 900;
                font-size: 2.3rem;
                line-height: 2.3rem;
            }

            &__mlg {
                display: none;
            }

            &__lg {
                display: flex;
                flex-flow: row;

                img {
                    width: 40vw;
                }

                &--col-1 {
                    width: 50%;
                }

                &--col-2 {
                    width: 50%;
                }

            }
        }

        &__4 {
            &__mlg {
                display: none;
            }

            &__lg {
                display: flex;
                flex-flow: row;
                justify-content: center;
  

                img {
                    // width: 20vw;
                    margin-top: .5rem;
                    margin-bottom: 1rem;
                }

                &--col-1 {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                width: 50%;
                }

                &--col-2 {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    width: 50%;
                }
            }
        }
    }
}

@mixin xlg {
    .section {
        padding-left: 10rem;
        padding-right: 10rem;

        &__3 {

            &--bold-text {
                margin-top: .5rem;
                margin-bottom: .5rem;
                color: $c-dark-green;
                font-family: "raleway", sans-serif;
                font-weight: 900;
                font-size: 2.2rem;
                line-height: 2.3rem;
            }

            &__mlg {
                display: none;
            }

            &__lg {
                display: flex;
                flex-flow: row;

                img {
                    width: 30vw;
                }

                &--col-1 {
                    width: 50%;
                    margin: auto;
                }

                &--col-2 {
                    width: 50%;
                    margin: auto;
                }

            }
        }
    }
}