h1 {
    font-size: 3.2em;
}
//custom h1's
#section__1--h1{
  transition: .5s;
  // transition-timing-function: ease;
}
#section__2--h2{
  transition: .5s;
  // transition-timing-function: ease;
}
h2 {
    font-size: 2em;
}
h3{
    font-size: 1.6em;
}
.banner-text{
  text-align: center;
  font-size: 4rem;
  margin-top: 15rem;
  color: white;
}
