
.flex-row{
  display: flex;
  flex-flow: row wrap;
  // align-items: center;
  // justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.flex-column{
  display: flex;
  flex-flow: column wrap;
}

.text{
  margin-left: auto;
}
