$z-index: (
checkmark: 9,
bubble: 8,
desktopNav:7,
sideNavLinks: 6,
opacity: 5,
menuToggle: 4,
content: 3,
logo: 2,
videotint: 1,
);

@function z-index($value) {
  @return map-get($z-index, $value);
}

@mixin z-index($value) {
  z-index: z-index($value);
}
