$z-index: (
sideNavLinks: 6,
opacity: 5,
menuToggle: 4,
content: 3,
logo: 2,
videotint: 1,
bg: 0,
);

@function z-index($value) {
  @return map-get($z-index, $value);
}

@mixin z-index($value) {
  z-index: z-index($value);
}
